
    @font-face {
      font-family: "Acens";
      src: url("../font/Acens.ttf");
    }

    body {
      font-family: "Acens";
      background-color: #000;
      color: #fff;
      margin: 0px;
      overflow: hidden;
      letter-spacing: 1px;
    }

    .row {
        margin:0;
    }

    /* Header section */
    .header {
        position: absolute;
        top:0;
        left:0;
        width:100%;
        height: 46px;
    }

    .header .header-content {
        padding:5px;
        position: relative;
    }

    .header .header-content .logo-marker{
        font-size: 24px;
        background: rgba(0,0,0,.2);
        padding: 10px 22px;
        margin-left: -10px;
        margin-top: -5px;
        display: inline-block;
    }

    .header .header-content .logo {
        margin-top:5px;
        height: 30px;
    }

    .date-clock , .date-clock > div {
        display: inline-block;
    }

    .cover-clock {
        height: 46px;
        display: inline-block;
        padding: 5px 24px;
        margin-top: -5px;
        text-shadow: 0px 0px 3px white;
        letter-spacing: 2px;
        background: linear-gradient(rgba(64,241,166,0.5),rgba(64,241,166,0));
    }

    .cover-clock > div {
        display: inline-block;
    }

    .cover-clock p {
        font-size: 6px;
    }

    /* end header section


    /* Sidebar section */
    .sidebar {
        position: absolute;
        left:0;
        padding-top:46px;
        height: 100%;
    }

    .sidebar .sidebar-menu {
        list-style-type: none;
        padding: 0;
        background: linear-gradient(rgba(41,46,51, 0.19), rgba(26,27,28,0.19));
        height: 100%;
        padding-top:20px;
    }

    .sidebar .sidebar-menu li {
        padding:5px 18.5px 5px 12.5px;
        text-align: center;
        font-size:20px;
        border-left: 6px solid rgba(0,0,0,0);
        transition: 0.2s ease-in;
        cursor:pointer;

    }
    .sidebar .sidebar-menu li:hover {
        border-left: 6px solid #3ade99;

    }

    .sidebar .sidebar-menu li.bottom-nav {
        position: absolute;
        bottom: 0;
        background: rgba(64,241,166,0.2);
        width: 100%;
        border-left: 6px solid rgba(0,0,0,0) !important;
        padding-top: 15px !important;
        padding-bottom: 15px !important;
        z-index: 2;
    }

    .sidebar .button-close {

        position: absolute;
        right: -26px;
        top:57px;
        padding: 9px 8px;
        font-family: 'Font Awesome 5 Free';
        font-weight: 900;

        background: linear-gradient(rgba(64,241,166,0.2), rgba(32,121,83,0.2));
    }


    .sidebar .button-close::before {
        /*content: "\f053";*/
    }
    /* End Sidebar section */

    /* sidebar right */

    .sidebar-right {
        position: absolute;
        right: 0;
        top:60px;
    }

    .sidebar-right p {
      margin-bottom: 5px;
    }


    .circle-gauge {
        float: none;
        margin:0 auto;
        margin-bottom: 6px;
    }

    .slider-container {
      width: 100%; /* Width of the outside container */
      position: relative;
      height: 30px;
    }

    /* The slider itself */
    .slider {
      -webkit-appearance: none;  /* Override default CSS styles */
      appearance: none;
      width: 100%; /* Full-width */
      height: 34px; /* Specified height */
      background: #d3d3d3; /* Grey background */
      outline: none; /* Remove outline */
      opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
      -webkit-transition: .2s; /* 0.2 seconds transition on hover */
      transition: opacity .2s;
      border:5px solid rgba(40,78,60,0.7);
    }

    .slider:before {
        background: none;
    }

    /* Mouse-over effects */
    .slider:hover {
      opacity: 1; /* Fully shown on mouse-over */
    }

    .slider::-webkit-slider-thumb {
      -webkit-appearance: none; /* Override default look */
      appearance: none;
      width: 25px; /* Set a specific slider handle width */
      height: 25px; /* Slider handle height */
      background: rgba(40,78,60,1); /* Green background */
      cursor: pointer; /* Cursor on hover */
    }

    .slider::-moz-range-thumb {
      width: 25px; /* Set a specific slider handle width */
      height: 25px; /* Slider handle height */
      background: rgba(40,78,60,0.7); /* Green background */
      cursor: pointer; /* Cursor on hover */
    }

    .content-simcard {
        margin-top:20px;
        text-align: left;
    }

    .content-simcard .item-simcard {
        padding:6px;        
        border:1px solid #fff;
        transition: ease-in 0.2s;
        /*margin:5px;*/
    }


    .content-simcard .item-simcard:hover {
        background: rgba(49,89,74,0.7);
    }

    .content-simcard .number {
        font-size: 28px;
        margin-top: -10px;
    }


    .content-simcard .subtext {
        font-size: 10px;
        margin-top:10px;
    }

    .content-simcard .trapezoid-simcard {
        width: 0;
        height: 0;
        border-top: 10px solid #fff;
        border-bottom: 0px solid transparent;
        border-right: 11px solid transparent;
        position: absolute;
        left: 5px;
        top:0px;
    }

    .content-simcard .quat-cross-left {

        width: 0;
        height: 0;
        border-top: 3px solid #fff;
        border-left: 12px solid #fff;
        position: absolute;
        right: 5px;
        bottom:0px;
    }

    .content-simcard .quat-cross-top {

        width: 0;
        height: 0;
        border-top: 12px solid #fff;
        border-left: 3px solid #fff;
        position: absolute;
        right: 5px;
        bottom:0px;
    }
    

    /* end sidebar right */

    /* Widget Component */
    .widget{

        position: relative;
    }

    .accordion-cover {
        position: absolute;
        width: 100%;
        bottom: 0;
    }

    .widget-header {
      padding: 5px;
      background-color:rgba(64,241,166,0.1); 
      border-top:5px solid rgba(64,241,166,0.2);
      border-bottom:1px solid rgba(64,241,166,0.2);
      font-size: 15px;
      text-shadow: 0 0 3px #fff;
      letter-spacing: 2px;
    }

    .widget-content {
        width: 100%;
        height: 100%;
        padding: 5px;
        background:linear-gradient(rgba(41,46,51,0.65), rgba(26,27,28,0.65)); 
        padding-top:10px;
        padding-bottom: 10px;

        font-size: 12px;
        overflow: auto;
        border-bottom:5px solid rgba(64,241,166,0.2);
    }

    .widget-content.bottom {
        height: 145px;
    }

    .widget-close-bottom {
        position: absolute;
        right:0;
        top:-26px;
        padding: 1px 14px;
        font-family: 'Font Awesome 5 Free';
        font-weight: 900;

        background: linear-gradient(rgba(64,241,166,0.2), rgba(32,121,83,0.2));
    }

    .widget-close-bottom::before {

        /*content: "\f078";*/
    }

    .widget-close-right {

        position: absolute;
        left: -26px;
        top: 37px;
        padding: 9px 8px;
        font-family: 'Font Awesome 5 Free';
        font-weight: 900;

        background: linear-gradient(rgba(64,241,166,0.2), rgba(32,121,83,0.2));
    }

    .widget-close-right::before {

        /*content: "\f054";*/
    }
    /* End Widget Component */

    /* Trapezoid component */

    .trapezoid {
        margin-left: 18px;
        border-bottom:1px solid rgba(64,241,166,0.2);
    }

    .trapezoid::before {
        width: 0;
        height: 0;
        border-top: 16px solid transparent;
        border-bottom: 16px solid rgba(64,241,166,0.1);
        border-right: 18px solid rgba(64,241,166,0.1);
        position: absolute;
        left: 0;
        top:5px;
        content: "";
        
    }

    .trapezoid::after {
        width: 0;
        height: 0;
        border-top: 0px solid transparent;
        border-bottom: 1px solid rgba(64,241,166,0.3);
        border-right: 18px solid rgba(64,241,166,0.3);
        position: absolute;
        left: 0;
        top:36.5px;
        content: "";
        
    }
    /* end Trapezoid component */

    /* Global component */
    .no-overflow {
      overflow: hidden;
    }


    .text-green {
      color: rgba(64,241,166,0.8);
    }

    .text-orange {
        color:#a1723e;
    }


    .bottom-bar {
        position: absolute;
        bottom: 0;
        left:0;
        width: 100%;
    } 

    a, a:hover {
        color: white;
        text-decoration: none;
    }

    .centered-flex {

        display: flex;
        justify-content: center;
        align-items: center;
    }

    input[type=text].form-control {
        height: 30px;
        color: #fff;
        border:2px solid rgba(255,255,255,0.3);
        background: none;
    }


    /* width */
    ::-webkit-scrollbar {
      width: 5px;
    }

    /* Track */
    ::-webkit-scrollbar-track {
      background: linear-gradient(rgba(64,241,166,0.5),rgba(64,241,166,0.2)); 
    }
     
    /* Handle */
    ::-webkit-scrollbar-thumb {
      background: linear-gradient(rgba(64,241,166,0.5),rgba(64,241,166,0.2));
    }

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
      background: linear-gradient(rgba(64,241,166,0.5),rgba(64,241,166,0.2));
    }

    /* end global componen */

    /* treeview css */
    .dropdown-submenu {
      position: relative;
    }

    .dropdown-submenu .dropdown-menu {
        top: 0;
        left: 100%;
        margin-top: -1px;
    }

    .location-button {
        position: absolute;
        bottom: 0;
        right: 0;
    }

    .dropdown-left-manual {
        right: 0;
        left: auto;
        padding-left: 1px;
        padding-right: 1px;
    }

    .dropdown-sub-left-manual {
      right: 100% !important;
      bottom: 0 !important;
      left: auto !important;
      margin-right: 1px;
      margin-top: -1px;
      top: auto !important;
    }

    .location-button button {
        border-radius: 0;
        background:rgba(72,150,254,0.2);
        font-size:14px;
    }

    .dropdown-menu { 
        border-radius: 0;
        background:rgba(72,150,254,0.2); 
    }

    .dropdown-menu li {

        border-bottom: 1px solid #4896fe;
    }
    .dropdown-menu li:last-child {
        border-bottom: none;
    }

    .dropdown-menu li a{
        color: white;
        font-size: 12px;
        padding-left:10px;
    } 

    /* Remove default bullets */
    ul, #myUL {
      list-style-type: none;
    }

    /* Remove margins and padding from the parent ul */
    #myUL {
      margin: 0;
      padding: 0;
      font-family: "Open Sans";
    }

    .nav-loc {
      transition: 0.2s ease-in;
    }

    .nav-loc i {
        padding-left: 10px;
        padding-right: 10px;
        margin-right: 5px;
        border-right: 2px solid #3ade99;
    }

    /* Style the caret/arrow */
    .caret {
      cursor: pointer; 
      user-select: none; /* Prevent text selection */
    }

    /* Hide the nested list */
    .nested {
      display: none;
      transition: 0.2s ease-in;
    }

    /* Show the nested list when the user clicks on the caret/arrow (with JavaScript) */
    .active {
      display: block;
    }
    /* end tree view */