/*Resize Screen*/
@media only screen and (max-width: 1900px) {
.sidebar {
    position: absolute;
    left: 0;
    height: 100%;
    z-index: 9999;
    background: #00000070;
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
}

    .sidebar .sidebar-menu {
        list-style-type: none;
        padding: 0;
        height: 80%;
    }

        .sidebar .sidebar-menu li {
            text-align: center;
            font-size: 20px;
            transition: 0.2s ease-in;
            cursor: pointer;
            border-left: 3px solid #39dc9a00;
        }

            .sidebar .sidebar-menu li:hover,
            .sidebar .sidebar-menu li.active {
                border-left: 3px solid #40F1A6;
            }

ul.sidebar-menu li a {
    display: block;
    line-height: 55px;
    height: 40px;
    position: relative;
}

ul.sidebar-menu li a img {
    height: 20px;
    width : 20px;
}

.sidebar .sidebar-menu li i {
    color: #ffffff97;
}

.sidebar-menu li.active a i {
    color: #fff;
}

.cursor-pointer {
    cursor: pointer;
}

.sidebar .sidebar-menu li.bottom-nav {
    position: absolute;
    bottom: 0;
    background: rgba(64,241,166,0.2);
    width: 100%;
    z-index: 2;
    border: none;
}

ul.sidebar-menu li.bottom-nav a {
    line-height: 71px;
    height: 71px;
}

    ul.sidebar-menu li.bottom-nav a i {
        color: #fff;
    }

li.bottom-nav:before {
    content: "";
    width: 100%;
    height: 2px;
    background: #ffffff45;
    position: absolute;
    left: 0;
    top: -2px;
}

.sidebar .button-close {
    position: absolute;
    top: 61px;
    padding: 9px 8px;
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    background: linear-gradient(rgba(64,241,166,0.2), rgba(32,121,83,0.2));
    text-shadow: 0 0 5px;
    left: 71px;
}


    .sidebar .button-close::before {
        /*content: "\f053";*/
    }

.sidebar-menu li.active a {
    border-radius: 100%;
    margin: 0 7px;
    height: 40px;
    box-shadow: 0 0 20px #136152;
    background: linear-gradient(-45deg, rgb(76, 76, 76) 23%, rgb(31, 31, 31) 54%, rgb(113, 113, 113) 100%, rgb(0, 0, 0) 100%);
    width: 40px;
    text-shadow: 0 0 3px;
    font-size: 18px;
    position: relative;
}

ul.sidebar-menu li:first-child a {
    margin-top: 0;
}

.sidebar-menu li.active a:before {
    content: "";
    position: absolute;
    width: 40px;
    height: 40px;
    border: 2px solid #136152;
    left: 0;
    border-radius: 50%;
}

ul.sidebar-menu li:not(.bottom-nav) a:hover {
    border-radius: 100%;
    margin: 0 7px;
    height: 55px;
    box-shadow: 0 0 20px #136152;
    background: linear-gradient(-45deg, rgb(76, 76, 76) 23%, rgb(31, 31, 31) 54%, rgb(113, 113, 113) 100%, rgb(0, 0, 0) 100%);
    width: 55px;
    text-shadow: 0 0 3px;
    font-size: 18px;
}

ul.sidebar-menu li.bottom-nav a:hover:before {
    border: none;
}

ul.sidebar-menu li a:hover:before {
    content: "";
    position: absolute;
    width: 55px;
    height: 55px;
    border: 2px solid #136152;
    left: 0;
    border-radius: 50%;
}

ul.sidebar-menu li a:hover i {
    color: #fff;
}
/* End Sidebar section */

/* sidebar right */

.sidebar-right {
    position: absolute;
    right: 0;
    top: 55px;
}

    .sidebar-right p {
    }
}

@media only screen and (max-width: 1500px) {
.sidebar {
    position: absolute;
    left: 0;
    height: 100%;
    z-index: 9999;
    background: #00000070;
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
}

    .sidebar .sidebar-menu {
        list-style-type: none;
        padding: 0;
        height: 80%;
    }

        .sidebar .sidebar-menu li {
            text-align: center;
            font-size: 20px;
            transition: 0.2s ease-in;
            cursor: pointer;
            border-left: 3px solid #39dc9a00;
        }

            .sidebar .sidebar-menu li:hover,
            .sidebar .sidebar-menu li.active {
                border-left: 3px solid #40F1A6;
            }

ul.sidebar-menu li a {
    display: block;
    line-height: 55px;
    height: 40px;
    position: relative;
}

ul.sidebar-menu li a img {
    height: 20px;
    width : 20px;
}

.sidebar .sidebar-menu li i {
    color: #ffffff97;
}

.sidebar-menu li.active a i {
    color: #fff;
}

.cursor-pointer {
    cursor: pointer;
}

.sidebar .sidebar-menu li.bottom-nav {
    position: absolute;
    bottom: 0;
    background: rgba(64,241,166,0.2);
    width: 100%;
    z-index: 2;
    border: none;
}

ul.sidebar-menu li.bottom-nav a {
    line-height: 71px;
    height: 71px;
}

    ul.sidebar-menu li.bottom-nav a i {
        color: #fff;
    }

li.bottom-nav:before {
    content: "";
    width: 100%;
    height: 2px;
    background: #ffffff45;
    position: absolute;
    left: 0;
    top: -2px;
}

.sidebar .button-close {
    position: absolute;
    top: 61px;
    padding: 9px 8px;
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    background: linear-gradient(rgba(64,241,166,0.2), rgba(32,121,83,0.2));
    text-shadow: 0 0 5px;
    left: 71px;
}


    .sidebar .button-close::before {
        /*content: "\f053";*/
    }

.sidebar-menu li.active a {
    border-radius: 100%;
    margin: 0 7px;
    height: 40px;
    box-shadow: 0 0 20px #136152;
    background: linear-gradient(-45deg, rgb(76, 76, 76) 23%, rgb(31, 31, 31) 54%, rgb(113, 113, 113) 100%, rgb(0, 0, 0) 100%);
    width: 40px;
    text-shadow: 0 0 3px;
    font-size: 18px;
    position: relative;
}

ul.sidebar-menu li:first-child a {
    margin-top: 0;
}

.sidebar-menu li.active a:before {
    content: "";
    position: absolute;
    width: 40px;
    height: 40px;
    border: 2px solid #136152;
    left: 0;
    border-radius: 50%;
}

ul.sidebar-menu li:not(.bottom-nav) a:hover {
    border-radius: 100%;
    margin: 0 7px;
    height: 55px;
    box-shadow: 0 0 20px #136152;
    background: linear-gradient(-45deg, rgb(76, 76, 76) 23%, rgb(31, 31, 31) 54%, rgb(113, 113, 113) 100%, rgb(0, 0, 0) 100%);
    width: 55px;
    text-shadow: 0 0 3px;
    font-size: 18px;
}

ul.sidebar-menu li.bottom-nav a:hover:before {
    border: none;
}

ul.sidebar-menu li a:hover:before {
    content: "";
    position: absolute;
    width: 55px;
    height: 55px;
    border: 2px solid #136152;
    left: 0;
    border-radius: 50%;
}

ul.sidebar-menu li a:hover i {
    color: #fff;
}
/* End Sidebar section */

/* sidebar right */

.sidebar-right {
    position: absolute;
    right: 0;
    top: 55px;
}

    .sidebar-right p {
    }
}