
@font-face {
    font-family: "Acens";
    src: url("../font/Acens.ttf");
}

@font-face {
    font-family: "Orbitron";
    src: url("../font/orbitron/Orbitron-Regular.ttf");
}

@font-face {
    font-family: "OpenSans-Regular";
    src: url("../font/opensans/OpenSans-Regular.ttf");
}

@font-face {
    font-family: "OpenSans-Light";
    src: url("../font/opensans/OpenSans-Light.ttf");
}


@font-face {
    font-family: "Roboto-Regular";
    src: url("../font/roboto/Roboto-Regular.ttf");
}

@font-face {
    font-family: 'CircularStd-Book';
    src: url('../font/circular-std/CircularStd-Book.ttf');
}

body {
    font-family: "Orbitron";
    background-color: #000;
    /*background-image: url(../images/background.png);*/
    color: #fff;
    margin: 0px;
    overflow: hidden;
    letter-spacing: 1px;
}
#DigTwin {
	background-image: url(../images/background.png);
}
input {
    font-family: Roboto-Regular;
    font-size: 12px;
}

.font-orbitron {
    font-family: "Orbitron";
}

.row {
    margin: 0;
}

/* Header section */
.header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 46px;
}

    .header .header-content {
        position: relative;
        font-size: 12px;
    }

        .header .header-content .logo-marker {
            font-size: 24px;
            background: rgba(0,0,0,.2);
            padding: 10px 22px;
            margin-left: -10px;
            margin-top: -5px;
            display: inline-block;
        }

        .header .header-content .logo {
            height: 30px;
            margin-top: 6px;
        }

.date-clock, .date-clock > div {
    display: inline-block;
}

.cover-clock {
    display: inline-block;
    text-shadow: 0px 0px 3px white;
    letter-spacing: 2px;
    padding: 5px 15px;
}

    .cover-clock > div {
        display: inline-block;
    }

    .cover-clock p {
        font-size: 6px;
    }

/* end header section


    /* Sidebar section */
.sidebar {
    position: absolute;
    left: 0;
    height: 100%;
    z-index: 9999;
    background: #00000070;
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
}

    .sidebar .sidebar-menu {
        list-style-type: none;
        padding: 0;
        height: 100%;
    }

        .sidebar .sidebar-menu li {
            text-align: center;
            font-size: 20px;
            transition: 0.2s ease-in;
            cursor: pointer;
            border-left: 3px solid #39dc9a00;
        }

            .sidebar .sidebar-menu li:hover,
            .sidebar .sidebar-menu li.active {
                border-left: 3px solid #40F1A6;
            }

ul.sidebar-menu li a {
    display: block;
    line-height: 55px;
    height: 55px;
    position: relative;
}

.sidebar .sidebar-menu li i {
    color: #ffffff50;
}

.sidebar-menu li.active a i {
    color: #fff;
}

.cursor-pointer {
    cursor: pointer;
}

.sidebar .sidebar-menu li.bottom-nav {
    position: absolute;
    bottom: 0;
    background: rgba(64,241,166,0.2);
    width: 100%;
    z-index: 2;
    border: none;
}

ul.sidebar-menu li.bottom-nav a {
    line-height: 71px;
    height: 71px;
}

    ul.sidebar-menu li.bottom-nav a i {
        color: #fff;
    }

li.bottom-nav:before {
    content: "";
    width: 100%;
    height: 2px;
    background: #ffffff45;
    position: absolute;
    left: 0;
    top: -2px;
}

.sidebar .button-close {
    position: absolute;
    top: 61px;
    padding: 9px 8px;
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    background: linear-gradient(rgba(64,241,166,0.2), rgba(32,121,83,0.2));
    text-shadow: 0 0 5px;
    left: 71px;
}


    .sidebar .button-close::before {
        /*content: "\f053";*/
    }

.sidebar-menu li.active a {
    border-radius: 100%;
    margin: 0 7px;
    height: 55px;
    box-shadow: 0 0 20px #136152;
    background: linear-gradient(-45deg, rgb(76, 76, 76) 23%, rgb(31, 31, 31) 54%, rgb(113, 113, 113) 100%, rgb(0, 0, 0) 100%);
    width: 55px;
    text-shadow: 0 0 3px;
    font-size: 18px;
    position: relative;
}

ul.sidebar-menu li:first-child a {
    margin-top: 0;
}

.sidebar-menu li.active a:before {
    content: "";
    position: absolute;
    width: 55px;
    height: 55px;
    border: 2px solid #136152;
    left: 0;
    border-radius: 50%;
}

ul.sidebar-menu li:not(.bottom-nav) a:hover {
    border-radius: 100%;
    margin: 0 7px;
    height: 55px;
    box-shadow: 0 0 20px #136152;
    background: linear-gradient(-45deg, rgb(76, 76, 76) 23%, rgb(31, 31, 31) 54%, rgb(113, 113, 113) 100%, rgb(0, 0, 0) 100%);
    width: 55px;
    text-shadow: 0 0 3px;
    font-size: 18px;
}

ul.sidebar-menu li.bottom-nav a:hover:before {
    border: none;
}

ul.sidebar-menu li a:hover:before {
    content: "";
    position: absolute;
    width: 55px;
    height: 55px;
    border: 2px solid #136152;
    left: 0;
    border-radius: 50%;
}

ul.sidebar-menu li a:hover i {
    color: #fff;
}
/* End Sidebar section */

/* sidebar right */

.sidebar-right {
    position: absolute;
    right: 0;
    top: 55px;
}

    .sidebar-right p {
    }


.circle-gauge {
    float: none;
    margin: 0 auto;
    margin-bottom: 6px;
}

.slider-container {
    width: 100%; /* Width of the outside container */
    position: relative;
    height: 30px;
}

/* The slider itself */
.slider {
    -webkit-appearance: none; /* Override default CSS styles */
    appearance: none;
    width: 100%; /* Full-width */
    height: 34px; /* Specified height */
    background: #d3d3d3; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
    border: 5px solid rgba(40,78,60,0.7);
}

    .slider:before {
        background: none;
    }

    /* Mouse-over effects */
    .slider:hover {
        opacity: 1; /* Fully shown on mouse-over */
    }

    .slider::-webkit-slider-thumb {
        -webkit-appearance: none; /* Override default look */
        appearance: none;
        width: 25px; /* Set a specific slider handle width */
        height: 25px; /* Slider handle height */
        background: rgba(40,78,60,1); /* Green background */
        cursor: pointer; /* Cursor on hover */
    }

    .slider::-moz-range-thumb {
        width: 25px; /* Set a specific slider handle width */
        height: 25px; /* Slider handle height */
        background: rgba(40,78,60,0.7); /* Green background */
        cursor: pointer; /* Cursor on hover */
    }
/* Switch On/Off */
.tgl-sw-light + .btn-switch {
    background: linear-gradient(#181818, #202020);
    border: 1px solid rgba(255,255,255,0.1);
}

    .tgl-sw-light + .btn-switch:after {
        background: linear-gradient(#FF0000, #800000);
    }

.tgl-sw-light-checked + .btn-switch {
    background: linear-gradient(to left, rgba(64,241,166,0.79), rgba(32,32,32,1));
    border: 1px solid rgba(255,255,255,0.1);
}

    .tgl-sw-light-checked + .btn-switch:after {
        background: linear-gradient(rgba(64,241,166,1), rgba(255,255,255,0));
        border: 1px solid rgba(255,255,255,0.5);
    }


.content-simcard {
    margin-top: 20px;
    text-align: left;
}

    .content-simcard .item-simcard {
        padding: 6px;
        border: 1px solid #fff;
        transition: ease-in 0.2s;
        /*margin:5px;*/
        position: relative;
    }


        .content-simcard .item-simcard:hover {
            background: rgba(49,89,74,0.7);
        }

    .content-simcard .number {
        font-family: OpenSans-Regular;
        font-size: 28px;
        margin-top: -10px;
        text-shadow: 0 0 7px;
    }


    .content-simcard .subtext {
        font-size: 10px;
        margin-top: 10px;
        white-space: nowrap;
        width: 90%;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .content-simcard .trapezoid-simcard {
        width: 0;
        height: 0;
        border-top: 10px solid #fff;
        border-bottom: 0px solid transparent;
        border-right: 11px solid transparent;
        position: absolute;
        left: 0;
        top: -1px;
    }

    .content-simcard .quat-cross-left {
        width: 0;
        height: 0;
        border-top: 3px solid #fff;
        border-left: 12px solid #fff;
        position: absolute;
        right: 0;
        bottom: -1px;
    }

    .content-simcard .quat-cross-top {
        width: 0;
        height: 0;
        border-top: 12px solid #fff;
        border-left: 3px solid #fff;
        position: absolute;
        right: -1px;
        bottom: -1px;
    }

.item-simcard .title-text {
    white-space: normal;
    text-align: center;
}

.content-simcard .title-gauge {
    white-space: nowrap;
    overflow: hidden;
}
/* end sidebar right */
/* Widget Component */
.widget {
    position: relative;
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
}

.accordion-cover {
    position: absolute;
    width: 100%;
    bottom: 0;
}

.widget-header {
    padding: 5px;
    background-color: #1f3d3790;
    border-top: 5px solid rgba(64,241,166,0.2);
    border-bottom: 1px solid rgba(64,241,166,0.2);
    font-size: 11px;
    text-shadow: 0 0 3px #fff;
    letter-spacing: 2px;
}

.widget-content {
    width: 100%;
    height: 100%;
    padding: 5px;
    background: #00000070;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 12px;
    overflow: auto;
    /* border-bottom: 5px solid rgba(64,241,166,0.2); */
    max-height: 330px;
}

    .widget-content.bottom {
        height: 193px;
        position: relative;
        overflow: hidden;
    }

.widget-close-bottom {
    position: absolute;
    right: 0;
    top: 5px;
    padding: 1px 14px;
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    background: linear-gradient(rgba(64,241,166,0.2), rgba(32,121,83,0.2));
}

    .widget-close-bottom::before {
        /*content: "\f078";*/
    }

.widget-close-right {
    position: absolute;
    left: -26px;
    top: 32px;
    padding: 9px 8px;
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    background: linear-gradient(rgba(64,241,166,0.2), rgba(32,121,83,0.2));
}

    .widget-close-right::before {
        /*content: "\f054";*/
    }
.widget-analytic-close-right {
    position: absolute;
    bottom: 80px;
    right: 0;	
	z-index: 9;
    padding: 9px 8px;
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    background: linear-gradient(rgba(64,241,166,0.2), rgba(32,121,83,0.2));
}
.widget-realtime-close {
    position: absolute;
    top: 0;
    right: 0;
    padding: 9px 14px;
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    background: linear-gradient(rgba(64,241,166,0.2), rgba(32,121,83,0.2));
}
.widget-realtime-close i{
	font-size: 16px;
}
/* End Widget Component */

/* Trapezoid component */

.trapezoid {
    margin-left: 18px;
    border-bottom: 1px solid rgba(64,241,166,0.2);
}

    .trapezoid::before {
        width: 0;
        height: 0;
        border-top: 6px solid transparent;
        border-bottom: 21px solid #1f3d3790;
        border-right: 18px solid #1f3d3790;
        position: absolute;
        left: 0;
        top: 4px;
        content: "";
    }

    .trapezoid::after {
        width: 0;
        height: 0;
        border-top: 0px solid transparent;
        border-bottom: 1px solid rgba(64, 241, 166, 0.3);
        border-right: 18px solid rgba(64,241,166,0.3);
        position: absolute;
        top: 31px;
        content: "";
        left: 0;
    }
/* end Trapezoid component */

/* Global component */
.no-overflow {
    overflow: hidden;
}


.text-green {
    color: rgba(64,241,166,0.8);
}

.text-orange {
    color: #a1723e;
}


.bottom-bar {
    /*position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;*/
}

a, a:hover {
    color: white;
    text-decoration: none;
}

.centered-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

input[type=text].form-control {
    height: 30px;
    color: #fff;
    border: 2px solid rgba(255,255,255,0.3);
    background: none;
}


/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: linear-gradient(rgba(64,241,166,0.5),rgba(64,241,166,0.2));
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: linear-gradient(rgba(64,241,166,0.5),rgba(64,241,166,0.2));
}

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: linear-gradient(rgba(64,241,166,0.5),rgba(64,241,166,0.2));
    }

/* end global componen */

/* treeview css */
.dropdown-submenu {
    position: relative;
}

    .dropdown-submenu .dropdown-menu {
        top: 0;
        left: 100%;
        margin-top: -1px;
    }

.location-button {
    position: absolute;
    bottom: 0;
    right: 0;
}

.dropdown-left-manual {
    right: 0;
    left: auto;
    padding-left: 1px;
    padding-right: 1px;
}

.dropdown-sub-left-manual {
    right: 100% !important;
    bottom: 0 !important;
    left: auto !important;
    margin-right: 1px;
    margin-top: -1px;
    top: auto !important;
}

.location-button button {
    border-radius: 0;
    background: rgba(72,150,254,0.2);
    font-size: 14px;
}

.dropdown-menu {
    border-radius: 0;
    background: rgba(72,150,254,0.2);
}

    .dropdown-menu li {
        border-bottom: 1px solid #4896fe;
    }

        .dropdown-menu li:last-child {
            border-bottom: none;
        }

        .dropdown-menu li a {
            color: white;
            font-size: 12px;
            padding-left: 10px;
        }

/* Remove default bullets */
ul, #myUL {
    list-style-type: none;
}

/* Remove margins and padding from the parent ul */
#myUL {
    margin: 0;
    padding: 0;
}

    #myUL > li {
        font-family: "OpenSans-Regular";
        font-size: 13px;
        text-shadow: 0 0 3px;
    }

        #myUL > li > ul {
            font-family: "OpenSans-Light";
            font-size: 12px;
            text-shadow: 0 0 2px;
        }

    #myUL li:not(.active) > a:hover:before {
        background: #1f3d3750;
        content: " ";
        position: absolute;
        width: 88%;
        height: 20px;
        left: 0;
        margin-top: 2px;
        border-left: 3px solid #40f1a650;
        z-index: -1;
        clip-path: polygon(0% 0%, 96% 0%, 100% 40%, 100% 100%, 0% 100%);
        cursor: pointer;
    }

.nav-loc {
    transition: 0.2s ease-in;
}

    .nav-loc i {
        padding-left: 10px;
        padding-right: 10px;
        margin-right: 5px;
        border-right: 2px solid #3ade99;
    }

/* Style the caret/arrow */
.caret {
    cursor: pointer;
    user-select: none; /* Prevent text selection */
}

/* Hide the nested list */
.nested {
    display: none;
    transition: 0.2s ease-in;
}

/* Show the nested list when the user clicks on the caret/arrow (with JavaScript) */
.active {
    display: block;
}
/* end tree view */

#tooltip {
    position: fixed;
    left: 0;
    top: 0;
    min-width: 100px;
    text-align: center;
    padding: 5px 12px;
    background-color: rgba(72,150,254,0.2);
    display: none;
    opacity: 0;
    border: 1px solid black;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
    transition: opacity 0.25s linear;
    border-radius: 3px;
}

div#wrapper-widget-realtime {
    min-width: 330px;
    max-width: 420px;
}

.content-tiles {
    padding: 10px;
    text-align: center;
}

    .content-tiles h1 {
        font-size: 28px;
    }

    .content-tiles h6 {
        font-size: 10px;
    }

#power-meter-area .row > div {
    margin-bottom: 10px;
}

table.widget-realtime-table td {
    border: 1px solid #12442f;
    padding: 5px;
}

table.widget-realtime-table {
    width: 100%;
}

    table.widget-realtime-table tr td:first-child {
        background: rgba(18, 68, 47, 0.58);
    }


.cctv {
    position: relative;
    padding: 10px;
}

.cctv-header {
    border-left: 1px solid rgba(255,255,255,.5);
    border-top: 1px solid rgba(255,255,255,0.5);
    margin-right: 25px;
    padding: 5px 10px;
    position: relative;
    height: 35px;
}

    .cctv-header:after {
        width: 0;
        height: 0;
        border-right: 42px solid rgba(255,255,255,0.5);
        border-bottom: 1px solid rgba(255,255,255,0.5);
        position: absolute;
        right: -34px;
        top: 16px;
        transform: rotate(236deg);
        content: "";
    }

    .cctv-header:before {
        width: 90%;
        position: absolute;
        border-bottom: 1px solid rgba(255,255,255,0.5);
        content: "";
        right: -5px;
        bottom: 0;
    }

.cctv-content {
    position: relative;
    margin: 10px;
    cursor: pointer;
}

.cctv-player {
    display: inline-block;
}

    .cctv-player .camera-name {
        border-right: 3px solid rgba(255,255,255,0.5);
        color: #ffffff7a;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }

.cctv-player-header {
    margin-bottom: 10px;
}

    .cctv-player-header a {
        display: inline-block;
        margin-left: 5px;
        margin-right: 5px;
    }

.cctv-player .player-duration {
    position: relative;
    background: rgba(255, 255, 255, 0.42);
    width: 100%;
    height: 20px;
    font-size: 12px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: #fff;
}

.cctv-player .player-indicator {
    position: absolute;
    width: 30%;
    height: 100%;
    background: rgba(255,255,255,0.5);
    left: 0;
}

.cctv-player .cctv-player-stream {
    padding: 10px;
    border: 1px solid rgba(255,255,255,.5);
    margin-bottom: 10px;
}

.cctv-player .control-cover {
    background: rgba(64,241,166,0.3);
    padding: 3.5px 0;
    font-size: 13px;
}

    .cctv-player .control-cover a {
        font-weight: 500;
    }

.cctv-player .trans-menu {
    color: rgba(255,255,255,.5);
    transition: 0.2s ease-in;
}

    .cctv-player .trans-menu:hover {
        color: rgba(255,255,255,1);
    }

.cctv-list {
    overflow-y: auto;
    height: 350px;
}

.cctv-header span {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    display: block;
}

.window-popup {
    background-color: rgba(64,241,166,0.1);
    border-top: 5px solid rgba(64,241,166,0.2);
}

/* start window popup */
.k-window-titlebar.k-header {
    background: none;
    border-color: #08453f;
}

.k-widget.k-window, #windowPopupPresentValue {
    background: #000000;
}

div#windowPopup {
    background: none;
    padding: 0;
}
/* end window popup */
.widget-footer.active .widget-footer-content {height: 350px;}

.bottom-bar > .row {
    margin-left: 75px;
}

div#elevator-area {
    font-family: Opensans-Light;
    width: 508px;
    height: 300px;
}

p.indicator-led-square {
    font-size: 8px;
    padding-left: 15px;
    position: relative;
}

    p.indicator-led-square:before {
        content: " ";
        width: 10px;
        height: 5px;
        background: #ff8238;
        position: absolute;
        left: 0;
        top: 4px;
    }

#elevator-area {
    padding: 0;
}

    #elevator-area > .title-tiles p {
        margin-bottom: 0;
    }

    #elevator-area > .title-tiles {
        padding-bottom: 5px;
        border-bottom: 1px solid #4c696f;
    }

.elevator-list, .elevator-list p {
    font-size: 10px;
}

.elevator-list {
    padding: 0;
}

.elevator-up-down span {
    display: inherit;
    font-size: 8px;
    line-height: 6px;
}

.elevator-floor-list {
    position: relative;
}

    .elevator-floor-list li {
        list-style-type: none;
        padding-bottom: 8px;
        margin: 0;
        color: #ffffff50;
        line-height: 10px;
        position: relative;
    }

    .elevator-floor-list ul {
        margin: 0;
        padding: 0;
        width: 32px;
        border-bottom: 1px solid #0f5f3c;
        border-right: 1px solid #0f5f3c;
    }

.elevator-up-down {
    position: absolute;
    top: 23%;
    text-align: center;
    left: 40px;
}

.wrapper-elevator-info {
    background: #73737357;
    padding: 12px;
    border-radius: 20px;
    margin-top: 15px;
    overflow: hidden;
    display: block;
    width: 100px;
}

.elevator-open-closed span {
    display: block;
}

.elevator-up-down i.active {
    color: #fff;
}

.elevator-open-closed i {
    font-size: 20px;
    margin: 16px 0;
}

.wrapper-elevator-info.load-info p {
    font-size: 8px;
}

.wrapper-elevator-info.load-info i {
    font-size: 20px;
    margin-bottom: 10px;
}

span.elevator-number-info {
    font-size: 16px;
    font-weight: bold;
}

.wrapper-elevator-info.load-info p {
    font-size: 8px;
}

.wrapper-elevator-info.load-info i {
    font-size: 15px;
    margin-bottom: 10px;
}

span.elevator-number-info {
    font-size: 12px;
    font-weight: bold;
}

label.running-status input {
    opacity: 0;
    position: absolute;
    height: 0;
}

label.running-status {
    display: inline-block;
    border: 1px solid;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    cursor: pointer;
    overflow: hidden;
}

    label.running-status.radio-red {
        border-color: #ca0000;
    }

.radio-red input[type="radio"]:checked ~ .checkmark {
    background: #540000;
    display: block;
    width: 100%;
    height: 100%;
}

.radio-red:hover input[type="radio"]:checked ~ .checkmark {
    background: #a00000;
    display: block;
    width: 100%;
    height: 100%;
}

label.running-status.radio-green {
    border-color: #00a534;
}

.radio-green input[type="radio"]:checked ~ .checkmark {
    background: #0b5400;
    display: block;
    width: 100%;
    height: 100%;
}

.radio-green:hover input[type="radio"]:checked ~ .checkmark {
    background: #00a009;
    display: block;
    width: 100%;
    height: 100%;
}

label.running-status.radio-yellow {
    border-color: #ad6901;
}

.radio-yellow input[type="radio"]:checked ~ .checkmark {
    background: #865100;
    display: block;
    width: 100%;
    height: 100%;
}

.radio-yellow:hover input[type="radio"]:checked ~ .checkmark {
    background: #d48000;
    display: block;
    width: 100%;
    height: 100%;
}


/* Button */
.btn-green {
    background: rgba(64,241,166,0.3);
    color: white !important;
    font-family: "Open Sans";
    font-size: 12px;
    position: relative;
    margin-left: 10px;
    border-radius: 0;
    border: none;
    padding: 6px 15px;
    text-shadow: 0 0 3px #fff;
    transition: 0.2s ease-in;
}

    .btn-green:before {
        width: 0;
        height: 0;
        border-bottom: 6px solid transparent;
        border-top: 24px solid rgba(64,241,166,0.3);
        border-right: 6px solid rgba(64,241,166,0.3);
        position: absolute;
        left: -6px;
        top: 0;
        content: "";
        transition: 0.2s ease-in;
    }

    .btn-green:after {
        width: 0;
        height: 0;
        border-top: 6px solid transparent;
        border-bottom: 24px solid rgba(64,241,166,0.3);
        border-left: 6px solid rgba(64,241,166,0.3);
        position: absolute;
        right: -6px;
        top: 0;
        content: "";
        transition: 0.2s ease-in;
    }

    .btn-green:hover {
        background: rgba(64,241,166,0.6);
    }


        .btn-green:hover:after {
            border-bottom: 24px solid rgba(64,241,166,0.6);
            border-left: 6px solid rgba(64,241,166,0.6);
        }

        .btn-green:hover:before {
            border-top: 24px solid rgba(64,241,166,0.6);
            border-right: 6px solid rgba(64,241,166,0.6);
        }

.btn-grey {
    background: rgba(255,255,255,0.1);
    color: white !important;
    font-family: "Open Sans";
    font-size: 12px;
    position: relative;
    margin-left: 10px;
    border-radius: 0;
    border: none;
    padding: 6px 15px;
    text-shadow: 0 0 3px #fff;
    transition: 0.2s ease-in;
}

    .btn-grey:before {
        width: 0;
        height: 0;
        border-bottom: 6px solid transparent;
        border-top: 24px solid rgba(255,255,255,0.1);
        border-right: 6px solid rgba(255,255,255,0.1);
        position: absolute;
        left: -6px;
        top: 0;
        content: "";
        transition: 0.2s ease-in;
    }

    .btn-grey:after {
        width: 0;
        height: 0;
        border-top: 6px solid transparent;
        border-bottom: 24px solid rgba(255,255,255,0.1);
        border-left: 6px solid rgba(255,255,255,0.1);
        position: absolute;
        right: -6px;
        top: 0;
        content: "";
        transition: 0.2s ease-in;
    }

    .btn-grey:hover {
        background: rgba(255,255,255,0.3);
    }


        .btn-grey:hover:after {
            border-bottom: 24px solid rgba(255,255,255,0.3);
            border-left: 6px solid rgba(255,255,255,0.3);
        }

        .btn-grey:hover:before {
            border-top: 24px solid rgba(255,255,255,0.3);
            border-right: 6px solid rgba(255,255,255,0.3);
        }

.btn-red {
    background: #580000;
    color: white !important;
    font-family: "Open Sans";
    font-size: 12px;
    position: relative;
    margin-left: 10px;
    border-radius: 0;
    border: none;
    padding: 6px 15px;
    text-shadow: 0 0 3px #fff;
    transition: 0.2s ease-in;
}

    .btn-red:before {
        width: 0;
        height: 0;
        border-bottom: 6px solid transparent;
        border-top: 24px solid #580000;
        border-right: 6px solid #580000;
        position: absolute;
        left: -6px;
        top: 0;
        content: "";
        transition: 0.2s ease-in;
    }

    .btn-red:after {
        width: 0;
        height: 0;
        border-top: 6px solid transparent;
        border-bottom: 24px solid #580000;
        border-left: 6px solid #580000;
        position: absolute;
        right: -6px;
        top: 0;
        content: "";
        transition: 0.2s ease-in;
    }

    .btn-red:hover {
        background: #900000;
    }


        .btn-red:hover:after {
            border-bottom: 24px solid #900000;
            border-left: 6px solid #900000;
        }

        .btn-red:hover:before {
            border-top: 24px solid #900000;
            border-right: 6px solid #900000;
        }

.widget-footer-content {
    font-family: "Opensans-Regular";
    padding: 10px;
    overflow: auto;
    height: 150px;
    background: #00000070;
}

    .widget-footer-content p {
        font-size: 10px;
    }

.widget-footer > .widget-header {
    border-top: 5px solid rgba(64,241,166,0.2);
    /* border-bottom: none; */
    padding: 5px 15px;
    font-size: 11px;
    line-height: 20px;
    position: relative;
}

.realtime-home,
.realtime-power {
    margin-bottom: 10px;
}

    .realtime-home .title-text,
    .realtime-power .title-text {
        font-size: 12px;
        text-overflow: ellipsis;
    }

    .realtime-home .number,
    .realtime-power .number {
        margin: 0;
        text-align: center;
        padding: 17px 0;
        font-size: 40px;
    }

.realtime-aircond .number {
    margin: 0;
    text-align: center;
    padding: 0;
    font-size: 30px;
}

.realtime-home .subtext,
.realtime-power .subtext,
.realtime-aircond .subtext {
    text-align: center;
    margin: 0;
    width: 100%;
}

.realtime-home .content-simcard,
.realtime-power .content-simcard,
.realtime-aircond .content-simcard {
    margin-top: 0;
}

.realtime-home.content-tiles,
.realtime-power.content-tiles {
    padding: 0;
}

.power-meter-area span.text-green {
    font-size: 10px;
    text-align: center;
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.power-meter-gauge {
    width: 100px;
    height: 60px;
    font-size: 16px;
    font-family: Opensans-Light;
    text-shadow: 0 0 5px;
}

.human-presence-counting {
    text-align: center;
}

    .human-presence-counting .number {
        font-size: 53px;
        display: block;
        padding: 0 0 10px 0;
        line-height: 53px;
    }

    .human-presence-counting i {
        font-size: 32px;
        vertical-align: middle;
    }

    .human-presence-counting p {
        font-size: 12px;
        color: rgba(64,241,166,0.8);
        line-height: 16px;
        margin: 0 0 15px 0;
    }

.widget-action {
    position: absolute;
    right: 0;
    top: -5px;
    padding: 9px 14px;
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    background: linear-gradient(rgba(64,241,166,0.2), rgba(32,121,83,0.2));
}

.counting-analytic .number {
    margin: 7px 0 0 0;
    font-size: 40px;
    font-family: Opensans-Light;
    text-shadow: 0 0 7px;
}

.counting-analytic {
    text-align: center;
    transition: ease 0.2s;
}

    .counting-analytic:hover {
        background: rgba(49,89,74,0.7);
    }

.widget-analytic > .row {
    margin-top: 0;
}

.widget-content.active {
    max-height: 190px;
}

    .widget-content.active ~ .widget-footer .widget-footer-content {
        height: 220px;
    }

#myUL li.active:before {
    background: #1f3d3760;
    content: " ";
    position: absolute;
    width: 88%;
    height: 23px;
    left: 0;
    border-left: 3px solid #40f1a680;
    z-index: 0;
    clip-path: polygon(0% 0%, 96% 0%, 100% 40%, 100% 100%, 0% 100%);
}

#myUL li a {
    position: relative;
    z-index: 1;
    display: block;
    line-height: 22px;
}

.counting-analytic .subtext {
    width: 100%;
}

.counting-analytic .title-text {
    font-size: 10px;
    padding-top: 9px;
    text-align: left;
    padding-left: 10px;
}

.widget-analytic .chart-title {
    display: block;
    font-size: 10px;
    margin-left: 26px;
}

.box-diagram-wrapper {
    border: 1px solid #fff;
    margin-top: 10px;
    position: relative;
    padding: 15px 0;
    box-shadow: 0 0 3px 0px;
}

p.box-diagram-title {
    margin: 0;
    font-size: 20px;
}

.box-diagram-blank {
    border: none;
    box-shadow: none;
}

.dotOn {
    height: 25px;
    width: 25px;
    background: linear-gradient(rgba(64,241,166,1), rgba(255,255,255,0));
    border-radius: 50%;
    display: inline-block;
}

.dotOff {
    height: 25px;
    width: 25px;
    background: linear-gradient(#FF0000, #800000);
    border-radius: 50%;
    display: inline-block;
}

.vav-qty span {
    display: inline-block;
    vertical-align: middle;
}

.vav-qty {
    margin-top: 6px;
    display: inline-block;
}

    .vav-qty .dotOn, .vav-qty .dotOff {
        width: 15px;
        height: 15px;
    }

.realtime-aircond-diagram .content-simcard {
    margin-top: 0;
}

.realtime-aircond-diagram {
    padding: 0;
    margin-top: -15px;
}

span.ahu-status {
    display: block;
    background: #000;
    padding: 10px;
    text-align: center;
    margin-top: 12px;
    text-transform: uppercase;
}

span.status-on {
    background: #35b785;
}

span.status-off {
    background: #bf0000;
}

.switch-custom {
    position: relative;
    display: inline-block;
    width: 46px;
    height: 20px;
    margin: 4px 0 0 0;
}

    .switch-custom input {
        opacity: 0;
        width: 0;
        height: 0;
    }

.slider-custom {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    -webkit-transition: .4s;
    transition: .4s;
    background: linear-gradient(#181818, #202020);
}

    .slider-custom:before {
        position: absolute;
        content: "";
        height: 12px;
        width: 12px;
        left: 4px;
        bottom: 4px;
        -webkit-transition: .4s;
        transition: .4s;
        background: linear-gradient(#FF0000, #800000);
    }

input:checked + .slider-custom {
    background: linear-gradient(to left, rgba(64,241,166,0.79), rgba(32,32,32,1));
}

input:focus + .slider-custom {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider-custom:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
    background: linear-gradient(rgba(64,241,166,1), rgba(255,255,255,0));
    border: 1px solid #2f8b66;
}

/* Rounded sliders */
.slider-custom.round-custom {
    border-radius: 34px;
}

    .slider-custom.round-custom:before {
        border-radius: 50%;
    }

.img-aircond-bg img {
    width: 100%;
}

.img-aircond-bg {
    overflow: hidden;
    width: 100%;
    height: 430px;
    background-position: center center !important;
    padding: 0;
    background-size: 875px !important;
    background-repeat: no-repeat !important;
}

.kpi-col {
    width: 15%;
}

.dailypower-col {
    width: 35%;
}

.eei-col {
    width: 20%;
    padding-left: 20px;
}

.energycons-col {
    width: 30%;
}

    .energycons-col > .chart-title {
        padding-left: 25px;
    }

.weeklyPowerPlug-col {
    width: 25%;
}

.OffPowerplug-col {
    width: 35%;
    padding-left: 20px;
}

.ZonePowerplug-col {
    width: 25%;
}

    .ZonePowerplug-col > .chart-title {
        padding-left: 25px;
    }

.widget-analytic > .row > div > div {
}

.k-chart circle {
    display: none;
}

.counting-aircond {
    padding: 0;
}

.legend-aircond-status .vav-qty {
    margin: 0;
}

.legend-aircond-status {
    width: 100%;
    text-align: right;
    font-family: Roboto-Regular;
    font-size: 9px;
    margin-bottom: 5px;
}

    .legend-aircond-status .vav-qty:first-child {
        margin-right: 5px;
    }

    .legend-aircond-status .dotOn, .legend-aircond-status .dotOff {
        width: 10px;
        height: 10px;
    }

.realtime-aircond {
    padding: 0;
}

.vav-box-wrapper > div {
    padding: 0;
}

.vav-box-wrapper .vav-qty {
    margin: 0;
    font-size: 11px;
}

    .vav-box-wrapper .vav-qty .dotOn {
        width: 10px;
        height: 10px;
    }

    .vav-box-wrapper .vav-qty .dotOff {
        width: 10px;
        height: 10px;
    }

.vav-box-wrapper .box-diagram-title {
    margin: 0;
    font-size: 10px;
    font-family: Opensans-Light;
}

p.box-diagram-number {
    line-height: 15px;
    font-size: 13px;
    font-family: Opensans-Light;
    margin: 4px 0 0 0;
    text-shadow: 0 0 3px;
}

.counting-aircond-device {
    margin: 5px 0;
}

.ahu-diagram-box .vav-qty {
    display: block;
    text-align: center;
    margin-top: 5px;
}

.ahu-diagram-box p.box-diagram-title {
    text-align: center;
    text-shadow: 0 0 3px;
    font-family: Opensans-Light;
}

.pau-diagram-box p.box-diagram-title {
    text-align: center;
    font-family: Opensans-Light;
    text-shadow: 0 0 3px;
}

.circle-value-chart:after {
    background: none;
}

.circle-value-chart {
    background: none;
}

    .circle-value-chart:before {
        position: absolute;
        width: 1em;
        height: 1em;
        content: "";
        border: 10px solid #ffffff30;
        border-radius: 100%;
    }

    .circle-value-chart.small:before {
        border: 5px solid #e4e4e4;
    }

    .circle-value-chart.big:before {
        border: 20px solid #e4e4e4;
    }

.aircond-device-damper .title-gauge {
    text-align: center !important;
}

.circle-value {
    width: 80px;
    height: 80px;
    position: relative;
    text-align: center;
    margin: 10px auto 0 auto;
    font-family: Opensans-Light;
}

    .circle-value:before {
        position: absolute;
        top: 0;
        left: 0;
        content: "";
        border: 5px solid #fff;
        border-radius: 100%;
        width: 80px;
        height: 80px;
    }

.circle-on {
    margin-left: 16px;
}

.circle-number {
    display: block;
    white-space: nowrap;
    font-size: 26px;
    line-height: 17px;
    padding-top: 23px;
    text-shadow: 0 0 5px;
}

.circle-title {
    font-size: 10px;
    font-family: Roboto-Regular;
    display: block;
    padding-top: 5px;
}

.circle-value.green:before {
    border-color: #32a676;
}

.circle-value.red:before {
    border-color: #c10c0c;
}

.box-floating-device {
    width: 200px;
    position: absolute;
    padding-bottom: 5px;
}

.box-floating-device-header {
    font-size: 10px;
    text-shadow: 0 0 3px #fff;
    letter-spacing: 2px;
    clip-path: polygon(65% 0, 75% 100%, 0 100%, 0 0);
    position: relative;
    background: #1f3d3790;
    padding: 0 10px;
    height: 17px;
}

.box-floating-device-body {
    width: 100%;
    height: 100%;
    padding: 5px;
    background: #00000070;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 12px;
    overflow: auto;
    border-bottom: 2px solid rgba(64,241,166,0.2);
    border-top: 5px solid #1f3d3790;
    backdrop-filter: blur(3px);
    position: relative;
}

#devicebox-PAU1 {
    top: 60px;
    right: 495px;
}

#devicebox-PAU2 {
    top: 60px;
    left: 120px;
}

#devicebox-AHU701 {
    top: 200px;
    right: 495px;
}

#devicebox-AHU702 {
    top: 200px;
    left: 120px;
}

#devicebox-AHU301 {
    /*bottom: 275px;*/
    top: 320px;
    right: 495px;
}

#devicebox-AgeDis {
    top: 60px;
    left: 100px;
}

#devicebox-Gender {
    top: 60px;
    left: 514px;
}

#devicebox-ThermalCS {
    top: 60px;
    right: 25px;
}

#devicebox-Race {
    top: 350px;
    left: 100px;
}

#devicebox-WindowS {
    top: 380px;
    right: 765px;
}

#devicebox-TDT {
    top: 350px;
    left: 514px;
}

#devicebox-TS {
    top: 350px;
    right: 25px;
}

#devicebox-WTC {
    top: 380px;
    right: 35px;
}

.box-floating-device-body span.text-green {
    font-size: 9px;
    text-align: center;
    display: block;
    color: #fff;
    font-family: Opensans-Light;
}

.box-floating-device-header span {
    cursor: pointer;
    padding: 0 0px;
    position: absolute;
    top: 3px;
}

span.box-floating-device-body-subtext {
    text-align: center;
    display: block;
    font-size: 10px;
    line-height: 0;
    margin-bottom: 6px;
    font-family: Opensans-Light;
    text-shadow: none;
}

.cooling-load-chart-rton.content-simcard {
    margin-top: 15px;
}

.cooling-load-chart-rton .title-text {
    text-align: center;
}

.present-value {
    position: absolute;
    top: 120px;
    left: 240px;
    color: #fff;
    font-size: 8px;
    cursor: pointer;
    font-family: Opensans-Light;
}

span.value-box {
    background: #18494e63;
    border: 1px solid #589988;
    display: inline-block;
    line-height: 15px;
    text-align: center;
    padding: 0 5px;
    min-width: 30px;
    font-family: Opensans-Light;
    font-size: 9px;
}

#windowPopupPresenceValue {
    background: #072c1e80;
    position: relative;
}

.window-present-value-footer {
    /*position: absolute;
    bottom: 10px;
    right: 10px;*/
}

label.label-present-value {
    display: block;
    color: #fff;
    font-family: Roboto-Regular;
    font-size: 12px;
}

.has-input {
    background: #ffffff0f;
    border: 1px solid #ffffff47;
    color: #fff;
    padding: 3px 7px;
}

    .has-input:focus {
        outline: none;
        border-color: #ffffff70;
        background-color: #ffffff1a;
    }

button:focus {
    box-shadow: none !important;
}

.k-window-title {
    width: 99%;
}

#windowPopupPresentValue_wnd_title {
    font-size: 15px;
}

.item-simcard.counting-aircond-device {
    margin: 9px 15px;
    width: 80px;
    height: 80px;
}

.counting-analytic {
    width: calc(100% - 30px);
    border: 1.5px solid #fff !important;
    position: relative;
    margin: 20px;
}

    .counting-analytic:before {
        border: 1px solid #ffffff45;
        content: "";
        position: absolute;
        width: calc(100% + 20px);
        height: calc(100% + 20px);
        left: -10px;
        top: -10px;
    }

.counting-home {
    width: 130px;
    height: 130px;
    margin: 10px;
}

    .counting-home:before {
        content: " ";
        position: absolute;
        top: -10px;
        left: -10px;
        width: 148px;
        height: 148px;
        border: 1px solid #ffffff45;
    }

    .counting-home .number {
        padding: 10px 0;
    }

.camera_position {
    position: absolute;
    width: 100%;
    top: 60px;
    left: 55px;
}

.logo-marker {
    width: 100%;
    text-align: center;
    height: 61px;
    position: relative;
    cursor: pointer;
    border-left: 3px solid #3eeba300;
}

    .logo-marker > i {
        font-size: 25px;
        line-height: 55px;
    }

.wrapper-clock {
    width: 87%;
    background: linear-gradient(rgba(64, 241, 166, 0.2),rgba(64,241,166,0));
}

.wrapper-has-logo {
    width: 13%;
}

.button-close > i, .widget-close-bottom > i, .widget-close-right > i, .widget-action i {
    text-shadow: 0 0 5px;
    font-size: 20px;
}

.ahu-off {
    border-color: #ffffff50;
    color: #ffffff50;
}

    .ahu-off > .trapezoid-simcard, .ahu-off > .quat-cross-left, .ahu-off > .quat-cross-top {
        border-top-color: #ffffff50;
        border-left-color: #ffffff50;
    }

.vav-box-wrapper > .qty-vav {
    text-align: center;
    padding-top: 10px;
    width: 100%;
}

.vav-box-wrapper {
    padding: 0;
    font-family: Opensans-Light;
    position: relative;
    height: 54px;
}

.qty-vav-onoff {
    position: absolute;
    background: #ffffff30;
    height: 10px;
    width: 100%;
    bottom: 0;
}

    .qty-vav-onoff p {
        margin: 0;
        font-size: 10px;
        position: absolute;
        top: -13px;
        text-shadow: 0 0 3px;
    }

p.qty-vav-on {
    left: 0;
}

.ahu-diagram-box {
    position: relative;
}

.widget-footer-content p {
    font-size: 10px;
}

.counting-aircond-device:before {
    position: absolute;
    content: "";
    top: -8px;
    left: -8px;
    border: 1px solid #ffffff50;
    width: 95px;
    height: 95px;
}

.vertical-bar-bg {
    width: 5px;
    height: 147px;
    position: absolute;
    left: 32px;
    background: #ffffff30;
}

    .vertical-bar-bg > .vertical-bar {
        position: absolute;
        height: 87.5%;
        bottom: 0;
        width: 5px;
        background: #fff;
        z-index: 1;
        box-shadow: 0 0 5px;
    }

.monthly-energy-col {
    width: 18%;
}

.monthly-consumpt-col {
    width: 41%;
    padding-right: 15px;
}

.daytime-cooling-col {
    width: 41%;
}

p.chart-label-title {
    font-family: Roboto-Regular;
    font-size: 10px;
    margin: 0;
    text-align: center;
}

.circle-off:before {
    border-color: #ffffff70;
}

.elevator-list h6 {
    font-size: 9px;
    font-family: Opensans-Light;
}

.widget-analytic .circle-value-chart {
    margin-top: 10px;
    margin-left: 20px;
}

.counting-aircond .circle-value-chart {
    margin: 0;
}

    .counting-aircond .circle-value-chart.sm {
        width: 110px;
        height: 110px;
    }

        .counting-aircond .circle-value-chart.sm:before {
            width: 110px;
            height: 110px;
        }

        .counting-aircond .circle-value-chart.sm:after {
            width: 90px;
            height: 90px;
        }

        .counting-aircond .circle-value-chart.sm .bar {
            width: 90px;
            height: 90px;
        }

        .counting-aircond .circle-value-chart.sm .fill {
            width: 90px;
            height: 90px;
        }

        .counting-aircond .circle-value-chart.sm span {
            line-height: 110px;
        }

        .counting-aircond .circle-value-chart.sm .slice {
            width: 110px;
            height: 110px;
        }

.circle-value-chart.sm .subtext-left {
    position: absolute;
    bottom: 0;
    left: 5px;
    text-shadow: 0 0 3px;
    margin: 0;
    font-family: OpenSans-Light;
    font-size: 10px;
}

.circle-value-chart.sm .subtext-right {
    position: absolute;
    bottom: 0;
    right: 5px;
    text-shadow: 0 0 3px;
    margin: 0;
    font-family: OpenSans-Light;
    font-size: 10px;
}

ul.sidebar-menu li a:hover > .tooltip-menu {
    display: block;
}

.tooltip-menu {
    display: none;
    position: absolute;
    top: 15px;
    font-size: 11px;
    font-family: Opensans-light;
    line-height: 10px;
    background: #1f3d3780;
    padding: 7px;
    border: 1px solid #416961;
    white-space: nowrap;
    left: 62px;
}

    .tooltip-menu:before {
        content: "";
    }


/*new circle*/
.flex-wrapper {
    display: flex;
    flex-flow: row nowrap;
}

.single-chart {
    width: 33%;
    justify-content: space-around;
}

.circular-chart {
    display: block;
    margin: 10px auto;
    max-width: 80%;
    max-height: 250px;
    stroke: #fff;
}

.circle-bg {
    fill: none;
    stroke: #ffffff30;
    stroke-width: 0.8;
}

.circle {
    fill: none;
    stroke-width: 2.8;
    stroke-linecap: round;
    animation: progress 1s ease-out forwards;
}

@keyframes progress {
    0% {
        stroke-dasharray: 0 100;
    }
}

.percentage {
    fill: #fff;
    font-family: Opensans-Light;
    font-size: 0.5em;
    text-anchor: middle;
    stroke: none;
    text-shadow: 0 0 4px;
    font-size: 9px;
}

.monthly-energy-col .circular-chart {
    max-height: 130px;
}

.close-ahu-box {
    position: absolute;
    top: -2px;
    z-index: 1;
    color: #fff;
    right: 0;
    font-size: 13px;
}

.label-aircond.label-off {
    right: 10px;
}

.label-aircond.label-on {
    left: 10px;
}

.label-aircond {
    font-size: 10px;
    font-family: Opensans-Light;
    text-shadow: 0 0 3px;
    position: absolute;
    bottom: 10px;
}

.close-ahu-box i {
    border: 1px solid #ffffff;
    font-size: 10px;
    display: block;
    line-height: 15px;
    width: 19px;
    text-align: center;
}


.label-inside-donut {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100px;
    height: 100px;
    margin-top: -50px;
    margin-left: -50px;
    line-height: 100px;
    vertical-align: middle;
    text-align: center;
    font-family: OpenSans-Light;
    font-size: 18px;
    text-shadow: 0 0 5px;
}

.label-title-donut {
    position: absolute;
    top: -5px;
    text-align: center;
    width: 100%;
}

span.title-top-left-corner {
    position: absolute;
    top: 0;
    left: 9px;
    font-size: 9px;
    font-family: Opensans-Light;
}

.donut-aircond {
    width: 130px;
    height: 130px;
}

.realtime-aircond-diagram:last-child {
    margin-top: 0px;
}

p.qty-vav-off {
    right: 0;
}

.horizontal-bar {
    position: absolute;
    height: 10px;
    background: #ffffff;
    box-shadow: 0 0 6px;
    width: 0%;
    transition: all 0.5s;
}

.elevator-floor-list li:before {
    position: absolute;
    right: 0;
    width: 4px;
    content: "";
    top: 1px;
    border-top: 1px solid #0f5f3c;
    height: 1.3px;
    z-index: 0;
}

.elevator-floor-list li:last-child {
    padding-bottom: 11px;
}

.elevator-floor-list li.active {
    color: #fff;
    text-shadow: 0 0 5px;
    font-size: 14px;
}

.elevator-up-down span.active {
    display: inherit;
}

span.elevator-label-up {
}

.elevator-info {
    margin: 11px auto 0 auto;
    text-align: center;
}

.elevator-load img {
    margin: -5px;
}

.wrapper-elevator-status > p, .wrapper-elevator-load > p {
    font-size: 9px;
    font-family: Opensans-Light;
}

.wrapper-elevator-status {
    margin: 0;
}

.box-floating-device-body > div {
    padding: 0;
}

.box-floating-device-body .k-arcgauge-label {
    font-family: Opensans-Light;
    font-size: 18px;
    text-shadow: 0 0 2px;
}

.close-ahu-box img {
    width: 12px;
}

.present-value .presence-unit {
    text-transform: UPPERCASE;
}

span.value-box.special-box {
    background: none;
    border: none;
    min-width: 19px;
}

.pau-popup .value-box {
    min-width: 30px;
}

.pau-popup .value-box-1 {
    min-width: 15px;
}

span.presence-unit-button {
    background: linear-gradient(-180deg, rgba(43,94,84,1) 0%, rgba(76,214,187,1) 100%);
    display: inline-block;
    min-width: 52px;
    text-align: center;
    line-height: 17px;
    box-shadow: 0 0 5px;
    clip-path: polygon(0 0, 85% 0, 100% 15%, 100% 100%, 15% 100%, 0 85%);
    text-shadow: 0 0 4px;
    letter-spacing: 0.3px;
    text-transform: uppercase;
}

.sensor-area .title-gauge {
    text-align: center !important;
    margin-bottom: 0 !important;
}

.content-tiles.sensor-area {
    padding: 0 2px 0 0px;
    margin: 0 0 22px 0;
}

.sensor-area .counting-home .number {
    padding: 0;
    margin: 0;
    font-size: 70px;
    line-height: 90px;
    text-align: center;
}

.sensor-area .counting-home .title-text {
    font-size: 12px;
    text-align: left;
}

.sensor-area .counting-home .subtext {
    font-size: 8px;
    width: 100%;
    font-family: Opensans-Light;
}

.sensor-area .content-simcard {
    margin: 0;
}


.content-tiles.smartlight-area, .content-tiles.smartplug-area {
    padding: 0 2px 0 0px;
    margin: 0 0 22px 0;
    width: 400px;
}

.smartlight-area .counting-home .number, .smartplug-area .counting-home .number {
    padding: 0;
    margin: 0;
    font-size: 60px;
    line-height: 90px;
    text-align: center;
}

.smartlight-area .counting-home .title-text, .smartplug-area .counting-home .title-text {
    font-size: 12px;
    text-align: left;
}

.smartlight-area .counting-home .subtext, .smartplug-area .counting-home .subtext {
    font-size: 8px;
    width: 100%;
    font-family: Opensans-Light;
}

.smartlight-area .content-simcard, .smartplug-area .content-simcard {
    margin: 0;
}

.elevator-monthly-energy-saving-col {
    width: 18%;
}

.elevator-monthly-energy-consumpt-col {
    width: 26.6%;
    padding-right: 10px;
}

.elevator-number-service-lift-col {
    width: 26.6%;
    padding-right: 10px;
}

.elevator-total-lift-travel-distance-col {
    width: 26.6%;
}

.elevator-monthly-energy-saving-col .circular-chart {
    max-width: 70%;
}

.wrapper-elevator-load {
    margin-top: 10px;
}

.elevator-up-down img {
    display: block;
}

.elevator-component-wrapper {
    background: #ffffff20;
    padding: 15px;
    border-radius: 5px;
}

div#devicebox-Sensor {
    bottom: 80px;
    right: 440px;
    width: 120px;
}

#devicebox-Sensor .box-floating-device-header {
    clip-path: polygon(60% 0, 70% 100%, 0 100%, 0 0);
    height: 20px;
    padding: 0 6px;
}

    #devicebox-Sensor .box-floating-device-header span {
        top: 6px;
        font-size: 9px;
    }

#devicebox-Sensor .box-floating-device-body img {
    margin-left: 25px;
    height: 100px;
}

p.temperature-legend {
    position: absolute;
    transform: rotate(-90deg);
    top: 55px;
    font-family: Opensans-Light;
    font-size: 10px;
    left: -20px;
}

ul.temperature-list {
    margin: 0;
    padding: 0;
    font-family: Opensans-Light;
}

p.temperature-unit {
    font-family: Opensans-Light;
    font-size: 19px;
    position: absolute;
    right: 16px;
    top: 57px;
}

ul.temperature-list li {
    padding-left: 5px;
    font-size: 8px;
    height: 25%;
    padding-top: 10px;
}

    ul.temperature-list li:first-child {
    }

.device-sensor-status {
    display: flex;
    background: #ffffff10;
    border-radius: 5px;
    border: 1px solid #ffffff3d;
    margin-bottom: 5px;
    width: 100%;
    height: 72px;
}

.device-sensor-status-icon {
    padding: 24px 10px 24px 15px;
}

.device-sensor-status-caption h1 {
    margin: 0;
    text-shadow: 0 0 7px;
    font-size: 16px;
}

.device-sensor-status-caption {
}

    .device-sensor-status-caption p {
        font-size: 8px;
        font-family: Opensans-Light;
        color: #ffffff69;
    }

.device-sensor-status-icon img {
    width: 25px;
}

.device-sensor-status-number {
    border-left: 1px dotted #ffffff57;
    max-width: 33%;
    flex: 0 0 100%;
}

    .device-sensor-status-number p {
        text-align: center;
        width: 100%;
        display: block;
        line-height: 64px;
        font-family: Opensans-Light;
        font-size: 30px;
        margin: 0;
        text-shadow: 0 0 5px;
    }

.device-sensor-status-caption {
    padding: 19px 0 0 0;
    min-width: 44%;
}

.sensor-status-area {
    width: 63%;
    padding-left: 5px;
}

.device-sensor-status:last-child {
    margin-bottom: 0;
}


.device-status {
    display: flex;
    background: #ffffff10;
    border-radius: 5px;
    border: 1px solid #ffffff3d;
    margin-bottom: 5px;
    width: 100%;
    height: 72px;
}

.device-status-icon {
    padding: 24px 10px 24px 15px;
}

.device-status-caption h1 {
    margin: 0;
    text-shadow: 0 0 7px;
    font-size: 16px;
}

.device-status-caption {
}

    .device-status-caption p {
        font-size: 8px;
        font-family: Opensans-Light;
        color: #ffffff69;
    }

.device-status-icon img {
    width: 25px;
}

.device-status-number {
    border-left: 1px dotted #ffffff57;
    max-width: 33%;
    flex: 0 0 100%;
}

    .device-status-number p {
        text-align: center;
        width: 100%;
        display: block;
        line-height: 64px;
        font-family: Opensans-Light;
        font-size: 30px;
        margin: 0;
        text-shadow: 0 0 5px;
    }

.device-status-caption {
    padding: 19px 0 0 0;
    min-width: 44%;
}

.status-area {
    width: 63%;
    padding-left: 5px;
}

.device-status:last-child {
    margin-bottom: 0;
}

.devices-total-area {
    width: 37%;
}

.progress-bar-gradient {
    width: 100%;
    height: 16px;
    background: linear-gradient(-90deg, #FFFFFF 0%, #000000 100%);
    opacity: 0.7;
    position: relative;
}

ul.progress-bar-gradient-majorunit {
    padding: 0;
    margin: -6px 0 0 0;
    width: 100%;
    height: 15px;
    list-style-type: none;
    border-right: 1px solid #26cc84;
    border-left: 1px solid #26cc84;
    position: relative;
    display: flex;
}

    ul.progress-bar-gradient-majorunit li {
        width: 10%;
        height: 4px;
        padding: 0;
        margin: 6px 0 0 0;
        border-right: 1px solid #26cc84;
        border-top: 1px solid #26cc84;
    }

        ul.progress-bar-gradient-majorunit li:last-child {
            border-right: none;
        }

.progress-bar-gradient-minmaxvalue {
    font-family: Opensans-Light;
    font-size: 10px;
    position: relative;
    height: 15px;
}

span.progress-bar-gradient-maxvalue {
    position: absolute;
    right: 0;
}

span.progress-bar-gradient-minvalue {
    position: absolute;
    left: 0;
}

.progress-bar-gradient-min, .progress-bar-gradient-high {
    font-size: 6px;
    font-family: Opensans-Light;
    position: absolute;
    bottom: 0;
}

.progress-bar-gradient-min {
    left: 0;
}

.progress-bar-gradient-high {
    right: 0;
}

.progress-bar-gradient-number {
    position: relative;
    margin-bottom: 3px;
}

span.progress-bar-gradient-value {
    text-align: center;
    display: block;
    font-family: Opensans-Light;
    letter-spacing: normal;
}

.sensor-devices-total-area {
    width: 37%;
}

p.title-progress-bar-gradient {
    font-size: 9px;
    text-shadow: 0 0 3px;
    margin: 0;
}

.content-tiles.sensor-area:last-child {
    margin-bottom: -5px;
}

.sensor-device-area {
    margin-bottom: 18px;
    padding: 0 11px;
}

span.progress-bar-gradient-contentvalue {
    font-size: 18px;
    position: relative;
}

.maxheight-auto {
    /* max-height: fit-content; */
    max-height: 600px;
}

span.progress-bar-gradient-contentvalue:after {
    content: "";
    width: 4px;
    height: 8px;
    position: absolute;
    bottom: 3px;
    left: -9px;
    background: #fff;
}

span.progress-bar-gradient-contentvalue:before {
    content: "we";
    position: absolute;
    left: -11px;
    font-size: 5px;
    transform: rotate(-90deg);
    bottom: 11px;
}

.progress-bar-current-value {
    position: relative;
    top: -5px;
    width: 0%;
    transition: all 0.5s;
}

    .progress-bar-current-value img {
        position: absolute;
        right: -6px;
    }

.hide {
    display: none;
}

@keyframes vertical-bar {
    0% {
        top: 0;
        left: 0;
    }

    30% {
        top: 50px;
    }

    68%, 72% {
        left: 50px;
    }

    100% {
        top: 100px;
        left: 100%;
    }
}

.sensor-area .title-text {
    text-align: center !important;
}

#devicebox-Sensor .box-floating-device-body {
    padding: 15px 0;
}

.title-gauge-home {
    color: #fff;
    text-shadow: 0 0 3px;
    text-align: center;
    display: block;
    font-size: 10px;
    position: relative;
    top: 3px;
}

.cctv-content img[class*=live-stream] {
    width: 100%;
    max-height: 110px;
    z-index: 1;
    position: relative;
}

#windowPopupBody .cctv-player-stream {
    border: none;
    padding: 0;
    text-align: center;
    width: 85%;
    position: relative;
    margin: 20px;
}

#windowPopupBody .cctv-player {
    display: flex;
    padding: 0 20px;
}

#windowPopupBody .wrapper-stream img {
    width: 100%;
    max-height: 602px;
}

.resp-iframe {
    border: none;
    width: 100%;
    height: 100px;
}

.overlay-iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.square-3-col {
    height: 112px;
    width: 112px;
}

    .square-3-col .title-text {
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        line-height: 20px;
    }

    .square-3-col .number {
        line-height: 52px;
        text-align: center;
        margin: 0;
        font-size: 36px;
    }

    .square-3-col .subtext {
        width: 100%;
        margin: 10px 0 0 0;
    }

.col-50 {
    width: 50%;
    transition: all 0.5s;
}

.cctv-content-decoration {
    position: absolute;
    width: 100%;
    height: 100%;
    border: 3px solid #fff;
    left: 0;
    top: 0;
    z-index: 2;
}

.cctv-content-status-live, .cctv-content-status-playback {
    position: absolute;
    top: 5px;
    left: 8px;
    z-index: 2;
}

.cctv-content-enlarge-icon {
    position: absolute;
    bottom: 6px;
    right: 6px;
    font-size: 9px;
    z-index: 2;
}

.cctv-content-status-live .status-text, .cctv-content-status-playback .status-text {
    font-size: 7px;
    font-family: Opensans-Light;
    margin: 0;
    background: red;
    line-height: 7px;
    padding: 3px 5px;
    display: inline-block;
    vertical-align: middle;
}

i.status-icon {
    width: 8px;
    height: 8px;
    background: red;
    display: inline-block;
    border-radius: 100%;
    animation: blink 1s infinite;
}

.cctv-content-status-playback .status-text {
    background: #34bb85;
    color: #fff;
}

.cctv-content-status-playback i {
    display: inline-block;
    color: #34bb85;
    animation: blink 1s infinite;
}

@keyframes blink {
    0% {
        opacity: 0.5;
    }

    100% {
        opacity: 1;
    }
}

table.table-app {
    width: 100%;
    font-family: Opensans-Light;
}

    table.table-app td {
        border-right: 2px solid #000;
        padding: 5px;
    }

    table.table-app tr:nth-child(even) {
        background: #ffffff20;
    }

    table.table-app tr td:first-child {
        border-right: 0;
    }

    table.table-app tr td p {
        padding: 0;
        margin: 0;
        font-size: 11px;
        text-align: center;
    }

    table.table-app tr td:first-child p {
        border-right: 1px solid #e4e4e4;
    }

    table.table-app tr td:last-child p {
    }

    table.table-app tr td:last-child i {
        border-left: 1px solid #fff;
        padding-left: 7px;
    }

    table.table-app tr td:last-child {
        width: 10%;
    }

    table.table-app tr td:nth-child(2) p {
        text-align: left;
    }

.heading-right-action {
    position: absolute;
    right: 10px;
    top: 10px;
}

.cctv-content:before {
    position: absolute;
    content: "";
    width: calc(100% + 10px);
    height: calc(100% + 10px);
    top: -5px;
    left: -5px;
    border: 1px solid #ffffff50;
}

.realtime-height-camera {
    padding: 0;
    margin: 0;
}

.enlarge-active {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
}

.camera-filter-area {
    margin-left: -100%;
    display: none;
    transition: all 0.5s;
}

.enlarge-active .header-camera {
    display: flex;
}

.enlarge-active .camera-filter-area {
    display: block;
    width: 15%;
    background: #ffffff20;
    margin-left: 0;
    padding: 61px 20px 20px 20px;
}

.enlarge-active .wrapper-list-camera {
    width: 85%;
    display: block;
}

    .enlarge-active .wrapper-list-camera .col-50 {
        width: 33.3%;
        float: left;
    }

.enlarge-active .cctv-content img[class*=live-stream] {
    height: 216px;
    max-height: 216px;
}

.enlarge-active .resp-iframe {
    height: 210px;
}

.filter-typing {
    text-align: center;
    border-bottom: 1px dotted #ffffff30;
}

    .filter-typing .has-input {
        margin-bottom: 6px;
    }

    .filter-typing button {
        margin-bottom: 10px;
    }

.filter-category {
    padding: 15px 0;
    border-bottom: 1px dotted #ffffff30;
}

p.filter-category-title {
    margin-bottom: 15px;
    font-size: 11px;
    text-shadow: 0 0 3px;
}

select.has-dropdownlist {
    width: 100%;
    margin-bottom: 5px;
    font-family: Opensans-Light;
    background: none;
    color: #ffffff90;
    padding: 5px;
}

    select.has-dropdownlist option {
        color: #000;
        background: #00000050;
        padding: 5px;
    }

        select.has-dropdownlist option:hover {
            background: #fff;
        }

    select.has-dropdownlist:focus {
        outline: none;
        box-shadow: 0 0 1px;
    }

ul.floor-category-list {
    margin: 0;
    padding: 0;
}

.floor-category {
    padding: 15px 0;
    font-family: Opensans-Light;
    border-bottom: 1px dotted #ffffff30;
    color: #ffffff70;
}

ul.floor-category-list span {
    display: inline-block;
    margin-left: 5px;
}

ul.floor-category-list .has-checkbox {
}

input.has-checkbox {
    box-shadow: none;
    outline: none;
    background-color: #ffffff40;
    -webkit-appearance: none;
    border: 1px solid #ffffff47;
    width: 10px;
    height: 10px;
    position: relative;
    cursor: pointer;
    border-radius: 2px;
}

    input.has-checkbox:checked:after {
        content: '\2714';
        font-size: 8px;
        position: absolute;
        top: 2px;
        left: 1px;
        color: #ffffff;
        line-height: 5px;
    }

.header-camera {
    display: none;
}

.header-camera-left .has-dropdownlist {
    width: auto;
    margin-left: 10px;
}

.header-camera-left {
    padding: 10px 0;
    width: 33.3%;
}

.header-camera-middle {
    width: 33.3%;
    text-align: center;
    padding: 15px 0;
    color: #ffffff50;
}

    .header-camera-middle p {
        margin: 0;
        font-size: 16px;
        text-shadow: 0 0 3px;
        display: inline-block;
    }

    .header-camera-middle > * {
        width: 110px;
        display: inline-block;
    }

        .header-camera-middle > * i {
            font-size: 18px;
        }

.header-camera-middle-content {
    display: inline-block;
    padding: 0 7px;
}

.header-camera-middle > .active {
    color: #fff;
}

    .header-camera-middle > .active .header-camera-middle-content {
        border-bottom: 2px solid #336952;
    }

.header-camera-middle a {
    color: #ffffff50;
}

.header-camera-middle .active a {
    color: #fff;
}

.header-camera-right {
    width: 33.3%;
    text-align: right;
    padding: 10px;
    font-size: 24px;
}

    .header-camera-right .active {
        display: contents;
        color: #fff;
    }

    .header-camera-right a {
        color: #ffffff50;
    }

.cctv-player-menu-list a {
    display: block;
    text-align: center;
    color: #ffffff50;
    margin-bottom: 30px;
}

.cctv-player-menu {
    color: #fff;
    padding: 0 40px;
    width: 15%;
}

a.close-streaming-popup {
    display: block;
    text-align: center;
    font-size: 50px;
    margin-bottom: 20px;
}

.cctv-player-menu-list a.active {
    color: #fff;
}

.cctv-player-counting .item-simcard {
    height: 150px;
    margin: 10px;
    padding: 10px;
}

    .cctv-player-counting .item-simcard:before {
        position: absolute;
        width: calc(100% + 20px);
        height: calc(100% + 20px);
        content: "";
        top: -10px;
        border: 1px solid #ffffff30;
        left: -10px;
    }

    .cctv-player-counting .item-simcard .number {
        font-size: 55px;
        margin-top: 15px;
    }

    .cctv-player-counting .item-simcard .title-text {
        text-align: left;
    }

.cctv-player-counting .trapezoid-simcard {
    border-top: 15px solid #fff;
    border-right: 15px solid transparent;
}

.cctv-player-counting .quat-cross-top {
    border-left: 5px solid #fff;
    border-top: 15px solid #fff;
}

.cctv-player-counting .quat-cross-left {
    border-top: 5px solid #fff;
    border-left: 15px solid #fff;
}

.cctv-player-counting .item-simcard .subtext {
    width: 100%;
    margin: 0;
    position: absolute;
    bottom: 10px;
    font-family: Opensans-Light;
}

.content-simcard.cctv-player-counting {
    margin-top: 45px;
}

ul.cctv-player-alert {
    margin: 30px 0 0 0;
    padding: 0;
    font-size: 8px;
}

    ul.cctv-player-alert li {
        padding: 10px 0;
        text-shadow: 0 0 5px;
    }

.cctv-player-stream .cctv-content-status-live {
    top: 10px;
    left: 10px;
}

.cctv-player-stream .cctv-content-status-playback {
    top: 10px;
    left: 10px;
}

.cctv-player-stream .cctv-content-status-live .status-text {
    font-size: 12px;
    color: #fff;
    line-height: 14px;
    padding: 3px 10px;
}

.cctv-player-stream .cctv-content-status-live .status-icon {
    width: 10px;
    height: 10px;
}

.cctv-player-stream .cctv-content-status-playback .status-text {
    font-size: 12px;
    color: #fff;
    line-height: 14px;
    padding: 3px 10px;
}

.cctv-player-stream .cctv-content-status-playback i {
    width: 10px;
    height: 10px;
}

.cctv-player-stream:before {
    position: absolute;
    content: "";
    width: calc(100% + 15px);
    height: calc(100% + 15px);
    top: -5px;
    left: -5px;
    border: 1px solid #ffffff50;
}

.has-timepicker .k-picker-wrap {
    background: none !important;
    color: #fff !important;
    border-color: #ffffff50 !important;
}

.has-timepicker {
    background: none;
    color: #fff !important;
    font-family: Opensans-Light;
    font-size: 12px !important;
    width: 100% !important;
}

.has-timepicker, input.has-timepicker {
    background-color: #ffffff00 !important;
}

    .has-timepicker span.k-select {
        border-color: #ffffff50 !important;
    }

    .has-timepicker span.k-icon.k-i-clock {
        font-size: 12px;
        margin-top: -2px;
    }

p.title-timepicker {
    margin: 10px 0 5px 0;
    font-family: Opensans-Light;
}

.has-calendar {
    font-size: 11px;
    font-family: Opensans-Light;
    background: #ffffff30 !important;
    backdrop-filter: blur(3px);
    border: none !important;
    color: #fff !important;
}

    .has-calendar th {
        background: none !important;
        color: #fff !important;
    }

    .has-calendar td {
        color: #fff !important;
    }

    .has-calendar .k-today .k-link {
        color: #fff !important;
        box-shadow: inset 0 0 0 1px #fff !important;
        background: transparent linear-gradient(180deg, #40F1A65D 0%, #20795352 100%) 0% 0% no-repeat padding-box !important;
    }

    .has-calendar .k-footer .k-nav-today {
        color: #fff !important;
    }

    .has-calendar > .k-header {
        background: none !important;
    }

        .has-calendar > .k-header .k-link.k-state-hover {
            background: none !important;
            box-shadow: inset 0 0 0 1px #ffffff30 !important;
        }

    .has-calendar td.k-state-selected .k-link {
        color: #fff !important;
        box-shadow: none !important;
        background: transparent linear-gradient(180deg, #40F1A65D 0%, #20795352 100%) 0% 0% no-repeat padding-box !important;
    }

.cctv-player-stream-control {
    padding: 0 20px;
    display: flex;
}

.wrapper-cctv-player-stream-control {
    border: none;
    padding: 0;
    width: 85%;
    position: relative;
    margin: 0 5px 0 15px;
    display: flex;
}

.cctv-control-progressbar {
    width: 80%;
    background: #ffffff26;
    height: 20px;
    position: relative;
}

.cctv-control-currentprogress {
    position: absolute;
    top: 0;
    left: 0;
    width: 70%;
    height: 20px;
    background: #ffffff60;
    box-shadow: 1px 0 0 0 #fff;
}

.cctv-control-controller {
    width: 20%;
    background: #073320;
}

    .cctv-control-controller a {
        padding: 0;
        font-size: 10px;
        vertical-align: top;
        line-height: 20px;
        width: 23%;
        display: inline-block;
        text-align: center;
    }

.box-human-presence-modelling {
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    background: #00000080;
    text-align: center;
    backdrop-filter: blur(3px);
    box-shadow: 0 0 0 2px #136152;
}

div#human-presence-counting-obj-modelling-001003001 {
    top: 380px;
    left: 635px;
}

p.presence-counting-obj {
    line-height: 30px;
    margin: 0;
    padding: 0;
    font-size: 13px;
    font-family: Opensans-Light;
}

div#human-presence-counting-obj-modelling-001003002 {
    top: 320px;
    left: 720px;
}

div#human-presence-counting-obj-modelling-001003003 {
    top: 325px;
    left: 550px;
}

.wrapper-stream .resp-iframe {
    height: 500px;
}

.counting-150 {
    padding: 6px;
    border: 1px solid #fff;
    transition: ease-in 0.2s;
    position: relative;
    width: 130px;
    height: 130px;
    margin: 10px;
}

    .counting-150:before {
        content: " ";
        position: absolute;
        top: -10px;
        left: -10px;
        width: calc(100% + 20px);
        height: calc(100% + 20px);
        border: 1px solid #ffffff45;
    }

    .counting-150 .trapezoid-simcard {
        width: 0;
        height: 0;
        border-top: 10px solid #fff;
        border-bottom: 0px solid transparent;
        border-right: 11px solid transparent;
        position: absolute;
        left: 0;
        top: -1px;
    }

    .counting-150 .quat-cross-left {
        width: 0;
        height: 0;
        border-top: 3px solid #fff;
        border-left: 12px solid #fff;
        position: absolute;
        right: 0;
        bottom: -1px;
    }

    .counting-150 .quat-cross-top {
        width: 0;
        height: 0;
        border-top: 12px solid #fff;
        border-left: 3px solid #fff;
        position: absolute;
        right: -1px;
        bottom: -1px;
    }

    .counting-150 .number {
        font-family: Opensans-Regular;
        text-shadow: 0 0 7px;
        font-size: 30px;
        line-height: 71px;
    }

.realtime-human-presence .content-simcard {
    margin: 0;
}

.realtime-human-presence .counting-card {
    float: left;
    margin-right: 5px;
    margin-bottom: 5px;
}

.realtime-human-presence {
    overflow: hidden;
    padding: 0 10px;
}

.square-4-col {
    width: 90px;
    height: 90px;
}

    .square-4-col .title-text {
        font-size: 10px;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }

    .square-4-col .number {
        font-size: 20px;
        margin: 6px 0 0 0;
        text-align: center;
    }

    .square-4-col .subtext {
        font-size: 9px;
        width: 100%;
    }

.realtime-human-presence .w-50 {
    float: left;
}

.clearfix {
    clear: both;
    display: block;
}

.human-presence-gauge {
    height: 50px;
    font-size: 16px;
    font-family: Opensans-Light;
    text-shadow: 0 0 5px;
}

.occupant-number-counting > p {
    color: rgba(64,241,166,0.8);
    font-size: 15px;
}

.occupant-number-counting span.number {
    font-size: 29px;
    display: block;
    text-shadow: 0 0 3px;
    padding: 12px 0;
}

.occupant-number-counting > i {
    font-size: 20px;
}

.overflow {
    overflow: hidden;
}

div#devicebox-alert {
    top: 100px;
    left: 150px;
    width: fit-content !important;
}

#box-alert .box-floating-device-body {
    font-size: 11px;
    font-family: Opensans-Light;
    background: #000;
}

    #box-alert .box-floating-device-body table td {
        border-color: #ffffff50;
        padding: 5px;
        box-sizing: content-box;
    }

div#devicebox-alert .close-ahu-box {
    right: 0;
}
div#devicebox-playback-contact-tracing {
    bottom: 240px;
    right: 450px;
    width: 270px;
    background: #2b2b2b;
    border-radius: 5px;
    color: #fff;
    font-size: 11px;
    padding-bottom: 0;
    border: 1px solid #ffffff59;
}
#devicebox-LegendHumanPresence {
    bottom: 240px;
    right: 430px;
    width: 160px;
    height: 172px;
}
#devicebox-LegendHumanPresence.active-slide {
    bottom: 75px;
    top: unset !important;
    left: unset !important;
}
#devicebox-LegendHumanPresence.active-slide .box-floating-device-body {
	visibility: hidden;
}
    #devicebox-LegendHumanPresence p.temperature-legend {
        left: 8px;
    }

#devicebox-Smartlight_cctv {
    bottom: 192px;
    right: 420px;
    width: 235px;
    height: 165px;
}

    #devicebox-Smartlight_cctv p.temperature-legend {
        left: 30px;
    }

.legend-color-list .legend-red {
    background: #ef6760;
}

.legend-color-list .legend-green {
    background: #83d494;
}

.legend-color-list .legend-yellow {
    background: #e8e344;
}

.legend-color-list .legend-grey {
    background: #909090;
}

.legend-color-list .legend-blue {
    background: #87cef1;
}

ul.legend-list li {
    padding: 10px 10px 10px 5px;
    font-size: 10px;
    font-family: Opensans-Light;
    height: 25%;
}

ul.legend-color-list li {
    width: 5px;
    height: 25%;
}

ul.legend-color-list {
    margin: 0;
    padding: 0;
    margin-left: 60px;
    border: 2px solid #fff;
    border-radius: 6px;
}

#devicebox-LegendHumanPresence ul.legend-list {
    margin: 0;
    padding: 0;
}

p.color-caption-legend {
    position: absolute;
    transform: rotate(-90deg);
    top: 80px;
    font-family: Opensans-Light;
    font-size: 10px;
}

.widget-analytic-wrapper > .widget {
    position: fixed;
    bottom: 0;
    width: calc(75% - 80px);
    right: 0;
}

.widget-nav-location > .widget {
    width: 25%;
    position: fixed;
    bottom: 0;
    margin-left: 75px;
}

.widget-alert-camera > .widget {
    width: 38%;
    bottom: 0;
    position: fixed;
    left: calc(25% + 80px);
}

.overlay-sidebarmenu {
    position: absolute;
    width: 100%;
    height: 100%;
}

a.button-send-overlay {
    position: absolute;
    top: -10px;
    right: -5px;
    background: #1b4b3a;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    z-index: 1;
    text-shadow: 0 0 3px;
}

ul.has-nav {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    border-bottom: 1px solid #ffffff40;
}

.has-nav li {
    float: left;
    margin: 0;
    padding: 7px 10px;
}

    .has-nav li.active {
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
        border-bottom: none;
        background: #115236;
    }


.wrapper-has-nav {
    margin: 10px;
    font-family: Opensans-Light;
    font-size: 12px;
}

.wrapper-has-nav-content.row {
    margin: 10px;
    font-size: 12px;
    font-family: Opensans-Light;
    color: #fff;
}

.checkbox-list {
    margin: 0;
    padding: 0;
    display: inline-block;
    width: 40px;
}

.input-checkbox {
    float: left;
}

    .input-checkbox .k-checkbox-label {
        padding-left: 20px;
    }


textarea.has-textarea {
    width: 100%;
    border: 1px solid #ffffff40;
    resize: vertical;
    min-height: 100px;
    background: #ffffff0a;
    color: #fff;
    box-sizing: border-box;
}

    textarea.has-textarea:focus {
        outline: none;
        box-shadow: 0 0 0px 1px #ffffff40;
    }

.has-nav .nav-link {
    padding: 0;
    border: none;
}

.btn-grad {
    background-image: linear-gradient(to right, #555 0%, #999 50%, #ccc 100%);
    border: none;
    color: #fff;
}

    .btn-grad:hover {
        background-position: right center !important;
    }

.video-js {
    position: relative !important;
    width: 85% !important;
    height: auto !important;
}

.invisible-card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #ffffff10;
    background-clip: border-box;
    border: 1px solid #ffffff3d;
    border-radius: .25rem;
    margin-bottom: 5px;
    text-align: center;
}

.invisible-card-header {
    /* padding: .75rem 1.25rem; */
    padding: 5px;
    margin-bottom: 0;
    border-bottom: 1px solid #ffffff3d;
    color: rgba(64,241,166,0.8);
    font-size: 11px;
}

.invisible-card-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1.25rem;
}

.column-1 {
    width: 100%;
    margin: 1px;
}

.column-2 {
    width: 50%;
    margin: 1px;
}

.column-3 {
    width: 32.8%;
    margin: 1px;
}

.title-gauge-power {
    color: #fff;
    text-shadow: 0 0 3px;
    text-align: center;
    display: block;
    font-size: 8px;
    position: relative;
    top: 3px;
}

.elevator-wrapper-parking .elevator-wrapper-parking-box {
    border: 1px solid;
    font-size: 50px;
    display: block;
    margin-bottom: 10px;
    text-shadow: 0 0 3px;
    text-align: center;
    padding: 15px 20px 50px 20px;
    position: relative;
    color: #ffffff30;
}

.elevator-wrapper-parking input[name=cmdParkingCheckBox] {
    position: absolute;
    left: 0;
    right: 0;
    opacity: 0;
    display: block;
    width: 100%;
    margin: 0;
    padding: 0;
    min-height: 25px;
    top: 0;
    cursor: pointer;
    height: 100%;
}


.elevator-wrapper-parking.active .elevator-wrapper-parking-box {
}


.parking-current-state {
    text-align: center;
    width: 40px;
    height: 40px;
    margin: 0 auto;
    border: 2px solid #ffffff30;
    border-radius: 50%;
}

    .parking-current-state img {
        z-index: -1;
        opacity: 0.3;
    }

    .parking-current-state.active img {
        z-index: -1;
        opacity: 1;
    }

.cmdPeakOperation-up-down {
    text-align: center;
    display: inline-flex;
    flex-wrap: wrap;
    flex: 0 0 50%;
    max-width: 50%;
}

label.cmdPeakOperation-label-up {
    display: block;
    width: 100%;
    margin: 0;
}

ul#cmdPeakOperationFloor {
    margin: 0;
    padding: 0;
    display: inline-flex;
    flex-wrap: wrap;
    flex: 0 0 45%;
    max-width: 45%;
}

.cmdPeakOperation-up-down p {
    font-size: 10px;
}

label.cmdPeakOperation-label-down {
    margin: 0;
    display: block;
    width: 100%;
}

ul#cmdPeakOperationFloor li, .cmdStandby-floor-list li {
    padding-bottom: 3px;
    display: block;
    width: 100%;
    margin: 0;
    cursor: pointer;
    font-size: 11px;
    color: #ffffff50;
}

.cmdPeakOperation-up-down-wrapper, .cmdPeakOperation-up-down-wrapper-current-state, .cmdStandby-floor-wrapper {
    background: #46464670;
    padding: 0 0 20px 0;
    border-radius: 5px;
    flex: 0 0 25%;
    max-width: 25%;
    align-items: center;
    margin-right: 5px;
}

.cmdPeakOperation-up-down-wrapper, .cmdPeakOperation-up-down-wrapper-current-state {
    padding-top: 20px;
}

.cmdPeakOperation-up-down img {
    cursor: pointer;
    display: inline-block !important;
}

ul#cmdPeakOperationFloor li.active, .cmdStandby-floor-list li.active {
    font-size: 15px;
    margin: 0;
    padding: 3px 0;
    color: #fff;
    text-shadow: 0 0 3px;
}

.cmdPeakOperation-current-state p {
    text-align: center;
}

.cmdPeakOperation-up-down-current-state {
    flex-wrap: wrap;
    max-width: 50%;
    text-align: center;
    display: inline-flex;
}

    .cmdPeakOperation-up-down-current-state p {
        font-size: 10px;
    }

ul.cmdPeakOperation-floor-list-current-state {
    flex-wrap: wrap;
    flex: 0 0 25%;
    max-width: 25%;
    padding: 0;
    margin: 0;
    display: inline-flex;
    font-size: 11px;
    color: #ffffff50;
}

li.cmdPeakOperation-floor-current-state {
    display: block;
    width: 100%;
}

label.cmdPeakOperation-label-up-current-state {
    width: 100%;
}

label.cmdPeakOperation-label-down-current-state {
    width: 100%;
}

ul.cmdPeakOperation-floor-list-current-state li.active {
    font-size: 15px;
    margin: 0;
    padding: 3px 0;
    color: #fff;
    text-shadow: 0 0 3px;
}

.cmdStandby-floor-wrapper {
    text-align: center;
    margin: 0;
    max-width: 33.3%;
    flex: 1 1 33.3%;
    border-radius: 0;
    border-bottom: 1px solid #ffffff30;
    border-left: 1px solid #ffffff30;
}

ul.cmdStandby-floor-list {
    padding: 0;
    margin: 10px 0;
}

.cmdStandby-elevator-wrapper {
    max-width: 70%;
    margin: 0 auto;
}

    .cmdStandby-elevator-wrapper input {
        border: 1px solid #ffffff30 !important;
        border-left: none !important;
    }

    .cmdStandby-elevator-wrapper span.input-group-text {
        background: #ffffff30;
        border: none;
    }

        .cmdStandby-elevator-wrapper span.input-group-text i {
            color: #ffffff;
        }

.text-nowrap {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.parking-current-state p {
    margin: 0;
    line-height: 40px;
    font-weight: bold;
    font-size: 20px;
    visibility: hidden;
}

.parking-current-state.active {
    background: #115236;
    border-color: #ffffff;
}

    .parking-current-state.active p {
        visibility: visible;
    }

.wrapper-icon-parking {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    vertical-align: middle;
}

    .wrapper-icon-parking .icon-parking {
        position: absolute;
        width: 30px;
        height: 30px;
        border: 2px solid #ffffff30;
        margin: 0 auto;
        text-align: center;
        border-radius: 100%;
        bottom: 10px;
        left: calc(50% - 15px);
    }


.icon-parking p {
    margin: 0;
    line-height: 30px;
    visibility: hidden;
    color: #fff;
}

.elevator-wrapper-parking-box.active .icon-parking {
    background: #115236;
    border-color: #fff;
}

    .elevator-wrapper-parking-box.active .icon-parking p {
        visibility: visible;
    }

.elevator-wrapper-parking-box.active {
    border-color: #115236;
}

    .elevator-wrapper-parking-box.active .wrapper-icon-elevator i {
        color: #115236;
    }

.wrapper-elevator-number p {
    font-size: 20px;
    font-weight: bold;
}

.elevator-wrapper-parking-box.active .wrapper-elevator-number p {
    color: #fff;
}

.wrapper-command-action {
    display: flex;
    border: 1px solid #ffffff30;
}

.wrapper-command-action-scheduler {
    width: 50%;
    padding: 15px;
    border-right: 1px solid #ffffff30;
}

.wrapper-command-action-immediately {
    width: 50%;
    padding: 15px;
}

.k-header.k-grid-toolbar {
    border: 0;
    background-color: #000000;
}

.k-grid.k-widget {
    border: 1px solid #00000090;
}

.cmdStandby-current-state-wrapper {
    background: #00000050;
    text-shadow: 0 0 3px;
    display: flex;
    flex-wrap: wrap;
    text-align: left;
    margin-bottom: 10px;
}

p.cmdStandby-current-state-title {
    margin: 0;
    padding: 10px 0;
    width: 100%;
    flex: 0 0 100%;
    text-align: center;
    border-bottom: 1px solid #12221f;
}

.cmdStandby-current-state-wrapper p {
    margin: 0;
}

p.cmdStandby-current-state-elevator-wrapper {
    width: 50%;
    flex: 0 0 50%;
}

p.cmdStandby-current-state-floor-wrapper {
    width: 50%;
    flex: 0 0 50%;
}

p.cmdStandby-current-state-elevator-wrapper i {
    padding: 10px;
    background: #12221f;
}

p.cmdStandby-current-state-floor-wrapper i, p.cmdStandby-current-state-elevator-wrapper i {
    padding: 10px;
    background: #12221f;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    line-height: 20px;
    display: block;
    margin: 0 auto;
}

div#elvScheduler {
    font-size: 11px;
}

.wrapper-parking-currentstate {
    border: 1px solid #ffffff30;
    padding: 10px 0;
}

.wrapper-parking-command-title {
    padding: 10px 0;
    border-top: 1px solid #ffffff30;
    border-right: 1px solid #ffffff30;
    border-left: 1px solid #ffffff30;
}

.wrapper-standby-command-title {
    border: 1px solid #ffffff30;
    padding: 10px 0;
    text-align: center;
}

.cmdStandby-floor-wrapper:last-child {
    border-right: 1px solid #ffffff30;
}

.cmdStandby-current-state-wrapper {
    border-bottom: 1px solid #ffffff30;
    border-left: 1px solid #ffffff30;
    max-width: 33.3%;
    flex: 1 1 33.3%;
    text-align: center;
    padding: 10px 0;
}

    .cmdStandby-current-state-wrapper:last-child {
        border-right: 1px solid #ffffff30;
    }

.chbk-chart {
    width: 10px;
    vertical-align: middle;
}

.box-floating-device-power {
    top: 60px;
    right: 365px;
}

#tooltip-label {
    position: fixed;
    left: 0;
    top: 0;
    min-width: 100px;
    text-align: center;
    padding: 5px 12px;
    font-family: OpenSans-Light;
    background: #a0c02070;
    display: none;
    border: 1px solid black;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
    font-size: 11px;
    border-radius: 3px;
}

.img-smartplug-bg {
    background-size: 100% 100%;
    background-color: #fff;
    height: 445px;
    width: 100%;
    position: relative;
    padding: 0;
}

.device-smartplug-button {
    width: 10px;
    height: 10px;
    position: absolute;
    /*border: 1px solid #0a0a0a47;*/
    /*border-radius: 50%;*/
    /*box-shadow: 0 0 3px #000;*/
    /*border: 2px solid #12221f;
    background: #0c0c0c;*/
    text-align: center;
    line-height: 10px;
}

    .device-smartplug-button.device-smartplug-button-1 {
        background: #71c180;
    }

    .device-smartplug-button.device-smartplug-button-0 {
        background: #ed4845;
    }
    /*.device-smartplug-button:before {
        content: " ";
        height: 10px;
        width: 10px;
        background: #ffffff;
        border-radius: 100%;
        position: absolute;
        z-index: 1;
        top: calc(50% - 5px);
        left: calc(50% - 5px);
    }*/
    .device-smartplug-button img {
        width: 8px;
    }
#devicebox-LegendHumanPresenceHome {
    bottom: 240px;
    right: 460px;
    width: 160px;
    height: 172px;
}
#devicebox-LegendHumanPresenceHome p.temperature-legend {
        left: -35px;
        top: 70px;
    }


#devicebox-LegendHumanPresenceHome ul.legend-list {
    margin: 0;
    padding: 0;
}
#devicebox-LegendHumanPresenceHome ul.legend-color-list li {
    height: 33.3%;
}
#devicebox-LegendHumanPresenceHome ul.legend-list li{
    height: 33.3%;
}
.home-comfort-sensation-title {color: rgba(64,241,166,0.8);text-align: center;margin: 3px 0 5px 0;font-size: 12px;}
#wrapper-widget-realtime.active-slide > .widget-realtime-content .widget-content {
    max-height: 100%;
    height: 663px;
    background: #000;
}
#devicebox-LegendHumanPresenceHome.active-slide {
    bottom: 75px;
    top: unset !important;
    left: unset !important;
}
#devicebox-LegendHumanPresenceHome.active-slide .box-floating-device-body {
	visibility: hidden;
}
.widget-analytic-wrapper.active-slide > .widget {
    right: calc(-75% + 80px);
}

#devicebox-LegendHumanPresenceHome .box-floating-device-body > p {
	margin-left: 45px;
}
#devicebox-LegendHumanPresenceHome .box-floating-device-body > .legend-color-list {
    margin-left: 65px;
}
a.home-toggle-zone {
    top: 0px;
    position: absolute;
    right: 20px;
}
.home-toggle-zone i {
	height: 17px;
}
#wrapper-widget-realtime.active-slide .widget-footer .widget-header, .widget-footer.active .widget-header {
    background: #1f3d37;
}

#wrapper-widget-realtime.active-slide .widget-footer .widget-footer-content, .widget-footer.active .widget-footer-content {
    background: #000;
}
.widget-footer .trapezoid::before {
    left: -18px;
    top: 2px;
}

.widget-footer .trapezoid::after {
    left: -18px;
    top: 29px;
}
.clear-both {
	clear: both;
}
.full-width {
	width: 100%;
}
div#devicebox-button-contact-tracing {
    right: 448px;
    top: 90px;
	width: auto;
}
a.button-icon-contact-tracing {
    display: block;
	cursor: pointer;
}
.contact-detail-name {
    font-family: Opensans-regular;
    font-size: 17px;
    border-bottom: 1px solid #ffffff50;
    padding-bottom: 7px;
}
.button-icon-contact-tracing img {
	width: 75px;
}
.filter-contact-tracing {
	font-size: 16px;
    font-family: Opensans-Light;
    color: #fff;
}
.filter-contact-tracing .has-input {
	font-size: 16px;
    padding: 10px;
    box-sizing: border-box;
    width: 100%;
}
.filter-contact-tracing .btn-conctact-tracing {
	margin-top: 15px;
}
.btn-has-green{
background: transparent linear-gradient(180deg, var(--unnamed-color-40f1a6) 0%, #20795330 100%) 0% 0% no-repeat padding-box;
box-shadow: 0px 0px 6px var(--unnamed-color-40f1a6);
background: transparent linear-gradient(180deg, #40F1A630 0%, #20795330 100%) 0% 0% no-repeat padding-box;
box-shadow: 0px 0px 6px #40F1A630;
text-transform: uppercase;
text-shadow: 0 0 3px;
font-family: Opensans-Regular;
    color: #fff;
}
.btn-has-green:hover{
    background: transparent linear-gradient(180deg, var(--unnamed-color-40f1a6) 0%, #20795350 100%) 0% 0% no-repeat padding-box;
box-shadow: 0px 0px 6px var(--unnamed-color-40f1a6);
background: transparent linear-gradient(180deg, #40F1A650 0%, #20795350 100%) 0% 0% no-repeat padding-box;
box-shadow: 0px 0px 6px #40F1A650;

    color: #fff;
}
.counting-ContactTracing .number {
    font-size: 50px;
    text-align: center;
    line-height: 50px;
    margin: 10px;
}

.number-counting-contacted-person {
    width: 100px;
    height: 100px;
    text-align: center;
    font-family: Opensans-regular;
    font-size: 40px;
    text-align: center;
    margin: 0 auto;
    padding: 0;
    border: 2px solid #ffffff73;
    border-radius: 50%;
    line-height: 94px;
}
ul.timeline-contact-tracing {
    margin: 10px 0 20px 0;
    padding: 0;
    text-align: left;
    font-family: Opensans-regular;
    font-size: 24px;
    position: relative;
}

ul.timeline-contact-tracing .zonename-contact-tracing {
    background: #232323;
    display: inline-block;
    margin: 10px 10px 0px 8px;
    color: #fff;
    border: 1px solid #ffffff70;
    border-radius: 5px;
    font-size: 16px;
}

ul.timeline-contact-tracing a {
    display: block;
    clear: both;
}

ul.timeline-contact-tracing:after {
	content: "";
	height: calc(100% + 22px);
	position: absolute;
	width: 2px;
	box-shadow: 0 0px 4px #fff;
	top: -12px;
	left: 21%;
	z-index: -1;
	background: #fff;
}
.bg-red {
	background: #c90202 !important;
}
.ContactTracingDetail {
	display: none;
}
.ContactTracingDetail ul.timeline-contact-tracing:after {
	display:none;
}
ul.persons-contact-tracing {
    margin: 0;
    text-align: left;
    padding: 0;
    font-size: 20px;
    font-family: Opensans-regular;
}

ul.persons-contact-tracing span.icon-contact-tracing {
    margin-right: 10px;
    font-size: 26px;
}

ul.persons-contact-tracing a {
    padding: 10px 0 0 0;
    display: block;
}
a.button-icon-playback-contact-tracing {
	cursor: pointer;
	display: block;
	border: 2px solid #ffffffc7;
	width: 40px;
	height: 40px;
	text-align: center;
	line-height: 40px;
	border-radius: 5px;
	margin: 17px auto 5px auto;
	color: #ffffffc7 !important;
}
.popup-contact-tracing-playback {
    width: 100%;
    /*height: 355px;*/
	height: 440px;
    background-size: 100% 100%;
    position:relative;
}

img.person-icon-playback {
    position: absolute;
    width: 30px;
}
.playback-list {
    margin: 20px 0 0 0;
    padding: 0;
    width: 100%;
    height: 10px;
    background: #022d0c;
}

.playback-action-arrow {
	position: absolute;
	top: -5px;
	background: #ffffff;
	width: 10px;
	height: 20px;
}
.popup-contact-tracing-playback-button {
    width: 100%;
    text-align: center;
}
div#dateContactTracing {
    font-size: 11px;
}
.btn-export-contact {
    position: fixed;
    right: 20px;
    bottom: 5px;
}
div#current-speed {
    color: #fff;
    font-size: 9px;
    font-family: Opensans-Regular;
    text-align: right;
    width: 35%;
}
.contact-tracing-playback-zone-action {
    text-align: center;
    font-size: 10px;
    font-family: Opensans-Regular;
    display: flex;
    margin: 10px;
}

div#devicebox-playback-contact-tracing > .row > div:last-child {
    border-left: 1px dashed #ffffff59;
}
a.button-icon-playback-contact-tracing i {
    font-size: 15px;
}

#devicebox-playback-contact-tracing ul.k-reset.k-slider-items, .k-button-increase, .k-button-decrease {
    display: none !important;
}

#devicebox-playback-contact-tracing .k-slider-horizontal {
    /* height: 5px; */
    margin: 10px 0 0 0;
}
/*
CALENDAR CONTACT TRACING
*/
.filter-contact-tracing .k-calendar > .k-header {
    background: none;
}
.filter-contact-tracing .k-widget.k-calendar{
    background: none;
    border-color: #525252;
}
.filter-contact-tracing .k-widget.k-calendar th{
    background: none;
    color: #fff;
    font-weight: bold;
    font-size: 12px;
}
.filter-contact-tracing .k-widget.k-calendar td a{
    color: #ffffff90;
    font-family: Circularstd-Book;
    font-size: 12px;
}
.filter-contact-tracing .k-calendar .k-other-month, .filter-contact-tracing .k-calendar .k-other-month a {
    color: #ffffff40 !important;
}
/*.filter-contact-tracing .k-calendar .k-other-month.k-state-hover, */.filter-contact-tracing .k-calendar .k-other-month.k-state-hover a {
    background: transparent linear-gradient(180deg, #40F1A65D 0%, #20795352 100%) 0% 0% no-repeat padding-box;
}
.filter-contact-tracing .k-widget.k-calendar td a:hover,.filter-contact-tracing .k-widget.k-calendar td:hover{
    /* background: transparent linear-gradient(180deg, #40F1A65D 0%, #20795352 100%) 0% 0% no-repeat padding-box; */
    box-shadow: none;
}
.filter-contact-tracing .k-widget.k-calendar td a:hover,.filter-contact-tracing .k-widget.k-calendar td:hover a{
    background: transparent linear-gradient(180deg, #40F1A65D 0%, #20795352 100%) 0% 0% no-repeat padding-box;
}
.filter-contact-tracing .k-calendar .k-calendar-view{
    width: 100%;
}
.filter-contact-tracing .k-calendar .k-today .k-link{
    background: transparent linear-gradient(180deg, #40F1A65D 0%, #20795352 100%) 0% 0% no-repeat padding-box;
    /* color: #fff; */
    box-shadow: none;
}
.filter-contact-tracing .k-calendar td.k-state-selected .k-link {
    background: transparent linear-gradient(180deg, #40F1A65D 0%, #20795352 100%) 0% 0% no-repeat padding-box;
    /* color: #000; */
    font-family: Circular-std Book;
}
.filter-contact-tracing .k-calendar .k-link.k-state-hover {
    background: transparent linear-gradient(180deg, #40F1A65D 0%, #20795352 100%) 0% 0% no-repeat padding-box !important;
    /* color: #000 !important; */
}
.filter-contact-tracing .k-calendar .k-footer .k-nav-today, .filter-contact-tracing .k-calendar .k-footer .k-nav-today:hover{
    color: #fff;
}
span.zonename-contact-tracing-title {
    padding: 10px 20px;
    border-right: 1px dashed #ffffff59;
    display: inline-block;
    text-shadow: 0 0 7px;
    font-family: Orbitron;
    font-weight: bold;
    width: 140px;
    font-size: 16px;
}

span.zonename-contact-tracing-index {
    padding: 5px 15px;
    text-align: center;
    display: inline-block;
    margin-left: -5px;
    font-size: 20px;
}
span.personid-contact-tracing {
    width: 90px;
    display: inline-block;
    font-size: 15px;
    margin: 0 5px;
    padding: 5px 10px;
    text-align: left;
    text-overflow: ellipsis;
    overflow: hidden;
}
.bg-contact-tracing-normal {
    background: #2b2b2b;
}
.bg-contact-tracing-danger {
    background: #dc3545;
}
span.personname-contact-tracing {
    
    width: 180px;
    display: inline-block;
    font-size: 15px;
    margin: 0;
    padding: 5px 10px;
    text-align: left;
    text-overflow: ellipsis;
    overflow: hidden;
}

img.icon-contact-tracing {
    vertical-align: top;
    display: inline-block;
}
.item-simcard.counting-ContactTracing {
    width: 110px;
    margin: 10px 15px 10px 10px;
}

.item-simcard.counting-ContactTracing .title-text {
    text-transform: uppercase;
    text-align: left;
    font-size: 8px;
}

.item-simcard.counting-ContactTracing:before {
    content: "";
    border: 1px solid #ffffff50;
    position: absolute;
    width: calc(100% + 20px);
    height: calc(100% + 20px);
    top: -10px;left: -10px;
}
#dateContactTracing.k-calendar .k-header .k-nav-fast {
    font-size: 15px;
    font-weight: bold;
}
#devicebox-LegendHumanPresence .close-ahu-box img {
    width: 18px;
    height: 18px;
}

#devicebox-LegendHumanPresence a.home-toggle-zone {
    /* top: 1.5px; */
    /* right: 22px; */
}

#devicebox-LegendHumanPresence a.home-toggle-zone i {
    font-size: 12px;
    height: 17px;
}
ul.sidebar-menu li a img {
    width: 30px;
}

a.k-draghandle, a.k-draghandle.k-state-selected {
    background: #fff !important;
    border: 0 !important;
    box-shadow: 0 0 7px !important;
    border-radius: 0 !important;
    width: 5px !important;
    height: 20px !important;
    margin: 0 !important;
    padding: 0 !important;
    top: 0px !important;
}

.k-slider-track {
    height: 20px !important;
    top: calc(50% - 10px) !important;
    background: #222 !important;
}

.k-slider-selection {
    background: #ffffff38 !important;
    height: 20px !important;
    top: calc(50% - 10px) !important;
}
#devicebox-playback-contact-tracing .k-slider-horizontal.k-slider-wrap {
    padding-top: 20px;
}
.playback-leftside {
    width: 80%;
}
.playback-rightside {
    width: 20%;
    padding: 0 0 20px 20px;
    color: #fff;
    font-family: circularstd-book;
}
.contact-tracing-playback-zone-action a {
    margin: 0 3px;
    width: 20%;
}

.contact-tracing-playback-zone-action a i {
    font-size: 15px;
}
.popup-contact-tracing-playback-action {
    width: 70%;
}
.popup-contact-tracing-playback-button {
    width: 30%;
    background: #184032;
}
.k-slider-horizontal .k-slider-buttons .k-slider-track {
    left: 10px !important;
}
.popup-contact-tracing-playback-action .k-slider-horizontal .k-slider-buttons .k-slider-track {
    left: 0px !important;
    width: 100% !important;
}
.popup-contact-tracing-playback-button {
    font-size: 10px;
    text-align: left;
    line-height: 26px;
    height: 25px;
    display: flex;
}

.popup-contact-tracing-playback-button a {
    width: 20%;
    text-align: center;
}
.speed-desc p {
    font-size: 13px;
    color: #ffffff98;
    font-family: Opensans-Regular;
}
.popup-contact-tracing-playback-action a.k-draghandle, .popup-contact-tracing-playback-action a.k-draghandle.k-state-selected {
    height: 25px !important;
}

.popup-contact-tracing-playback-action .k-slider-track {
    height: 25px !important;
    top: calc(50% - 12px) !important;
}

.popup-contact-tracing-playback-action .k-slider-selection {
    height: 25px !important;
    top: calc(50% - 12px) !important;
}
.popup-contact-tracing-playback-button a i {
    font-size: 12px;
}
.popup-bottom-border {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 5px;
    background: #184032;
}

.popup-bottom-border:after {
    content: "";
    height: 30px;
    position: absolute;
    right: 0;
    width: 180px;
    bottom: 0;
    clip-path: polygon(10% 40%, 95% 40%, 100% 100%, 0% 100%);
    background: #184032;
}
table.table-odd-even tr:nth-child(even) td {
    background: #272727;
}

table.table-odd-even {
    border-collapse: separate;
    border-spacing: 3px;
    width: 100%;
}
#box-alert .box-floating-device-header {
    font-size: 14px;
    height: 23px;
    clip-path: polygon(30% 0, 35% 100%, 0 100%, 0 0);
}
#box-alert .box-floating-device-body {
    border-bottom-width: 5px;
}
.popup-top-border {
    position: absolute;
    top: 0;
    width: 100%;
    height: 3px;
    background: #184032;
    z-index: 1;
}

.popup-top-border:before {
    content: "";
    position: absolute;
    clip-path: polygon(0 0, 100% 0, 90% 15%, 2% 15%);
    height: 100px;
    width: 200px;
    left: 0;
    top: 0;
    z-index: 2;
    background: #184032;
}

.border-transparent-popup-1 {
    position: absolute;
    clip-path: polygon(25% 0%, 100% 0%, 74% 33%, 0 33%);
    background: #ffffff59;
    left: 198px;
    top: 2px;
    width: 20px;
    height: 40px;
    z-index: 1;
}
span.time-contact-tracing {
    font-size: 19px;
    padding-left: 20px;
}
div#current-speed-zone {
    width: 40%;
}