/*Resize Screen*/
@media only screen and (max-width: 1200px) {
/* Sidebar section */
.sidebar {
    position: absolute;
    left: 0;
    height: 80%;
    z-index: 9999;
    background: #00000070;
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
}

    .sidebar .sidebar-menu {
        list-style-type: none;
        padding: 0;
        height: 80%;
    }

        .sidebar .sidebar-menu li {
            text-align: center;
            font-size: 16px;
            transition: 0.2s ease-in;
            cursor: pointer;
            border-left: 3px solid #39dc9a00;
        }

            .sidebar .sidebar-menu li:hover,
            .sidebar .sidebar-menu li.active {
                border-left: 3px solid #40F1A6;
            }

ul.sidebar-menu li a {
    display: block;
    line-height: 55px;
    height: 40px;
    position: relative;
}

ul.sidebar-menu li a img {
    height: 20px;
    width : 20px;
}

.sidebar .sidebar-menu li i {
    color: #ffffff97;
}

.sidebar-menu li.active a i {
    color: #fff;
}

.cursor-pointer {
    cursor: pointer;
}

.sidebar .sidebar-menu li.bottom-nav {
    position: absolute;
    bottom: 0;
    background: rgba(64,241,166,0.2);
    width: 100%;
    z-index: 2;
    border: none;
}

ul.sidebar-menu li.bottom-nav a {
    line-height: 71px;
    height: 71px;
}

    ul.sidebar-menu li.bottom-nav a i {
        color: #fff;
    }

li.bottom-nav:before {
    content: "";
    width: 100%;
    height: 2px;
    background: #ffffff45;
    position: absolute;
    left: 0;
    top: -2px;
}

.sidebar .button-close {
    position: absolute;
    top: 61px;
    padding: 9px 8px;
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    background: linear-gradient(rgba(64,241,166,0.2), rgba(32,121,83,0.2));
    text-shadow: 0 0 5px;
    left: 71px;
}


    .sidebar .button-close::before {
        /*content: "\f053";*/
    }

.sidebar-menu li.active a {
    border-radius: 100%;
    margin: 0 7px;
    height: 40px;
    box-shadow: 0 0 20px #136152;
    background: linear-gradient(-45deg, rgb(76, 76, 76) 23%, rgb(31, 31, 31) 54%, rgb(113, 113, 113) 100%, rgb(0, 0, 0) 100%);
    width: 40px;
    text-shadow: 0 0 3px;
    font-size: 18px;
    position: relative;
}

ul.sidebar-menu li:first-child a {
    margin-top: 0;
}

.sidebar-menu li.active a:before {
    content: "";
    position: absolute;
    width: 40px;
    height: 40px;
    border: 2px solid #136152;
    left: 0;
    border-radius: 50%;
}

ul.sidebar-menu li:not(.bottom-nav) a:hover {
    border-radius: 100%;
    margin: 0 7px;
    height: 55px;
    box-shadow: 0 0 20px #136152;
    background: linear-gradient(-45deg, rgb(76, 76, 76) 23%, rgb(31, 31, 31) 54%, rgb(113, 113, 113) 100%, rgb(0, 0, 0) 100%);
    width: 55px;
    text-shadow: 0 0 3px;
    font-size: 18px;
}

ul.sidebar-menu li.bottom-nav a:hover:before {
    border: none;
}

ul.sidebar-menu li a:hover:before {
    content: "";
    position: absolute;
    width: 55px;
    height: 55px;
    border: 2px solid #136152;
    left: 0;
    border-radius: 50%;
}

ul.sidebar-menu li a:hover i {
    color: #fff;
}
/* End Sidebar section */

/* sidebar right */

.sidebar-right {
    position: absolute;
    right: 0;
    top: 55px;
}

    .sidebar-right p {
    }


}


@media only screen and (min-height: 775px) {
    .sidebar-right.SmartLight .widget-content {
        max-height: inherit;
    }

    .sidebar-right.SmartPlug .widget-content {
        max-height: 425px;
    }
}

@media only screen and (max-height: 774px) {
    .widget-content:not(.maxheight-auto) {
        max-height: 359px;
    }

    ul.sidebar-menu li a {
        height: 50px;
        line-height: 50px;
    }

    ul.sidebar-menu li:not(.bottom-nav) a:hover {
        margin: 0 7px;
        height: 50px;
        width: 50px;
    }

    ul.sidebar-menu li a:hover:before {
        height: 50px;
        width: 50px;
    }

    .sidebar-menu li.active a:before {
        width: 50px;
        height: 50px;
    }

    .sidebar-menu li.active a {
        width: 50px;
        height: 50px;
    }

    .sidebar-right.SmartLight .widget-content {
        max-height: inherit;
    }

    .sidebar-right.SmartPlug .widget-content {
        max-height: 425px;
    }
}

@media only screen and (max-height: 760px) {
    .sidebar-right.SmartLight .widget-content {
        max-height: inherit;
    }

    .sidebar-right.SmartPlug .widget-content {
        max-height: 415px;
    }
}

@media only screen and (max-height: 700px) {
    .widget-content:not(.maxheight-auto) {
        max-height: 325px;
    }

    .sidebar-right.HumanPresence .widget > .widget-content:not(.maxheight-auto),
    .sidebar-right.Home .widget > .widget-content:not(.maxheight-auto),
    .sidebar-right.AirCond .widget > .widget-content:not(.maxheight-auto),
    .sidebar-right.Elevator .widget > .widget-content:not(.maxheight-auto) {
        max-height: 250px;
    }

    .widget-content.maxheight-auto {
        max-height: 510px;
    }

    .widget-content.active ~ .widget-footer {
        height: 130px !important;
    }

    /*#devicebox-AHU301 {
        bottom: 230px;
    }*/

    div#devicebox-alert {
        top: 60px;
    }
}

@media only screen and (max-height: 670px) {
    .sidebar-right.SmartPlug .widget-content {
        max-height: 325px;
    }
}

@media only screen and (max-height: 640px) {
    .widget-content:not(.maxheight-auto) {
        max-height: 290px;
    }

    .sidebar-right.SmartPlug .widget-content {
        max-height: 290px;
    }

    .sidebar-right.HumanPresence .widget > .widget-content:not(.maxheight-auto),
    .sidebar-right.Home .widget > .widget-content:not(.maxheight-auto),
    .sidebar-right.AirCond .widget > .widget-content:not(.maxheight-auto),
    .sidebar-right.Elevator .widget > .widget-content:not(.maxheight-auto) {
        max-height: 220px;
    }

    .widget-content.maxheight-auto {
        max-height: 480px;
    }

    #devicebox-PAU1, #devicebox-PAU2 {
        top: 50px;
    }

    #devicebox-AHU702, #devicebox-AHU701 {
        top: 170px;
    }

    #devicebox-AHU301 {
        top: 287px;
    }

    div#devicebox-alert {
        top: 60px;
    }

    ul.sidebar-menu li a {
        height: 45px;
        line-height: 45px;
    }

    ul.sidebar-menu li:not(.bottom-nav) a:hover {
        margin: 0 7px;
        height: 45px;
        width: 45px;
    }

    ul.sidebar-menu li a:hover:before {
        height: 45px;
        width: 45px;
    }

    .sidebar-menu li.active a:before {
        width: 45px;
        height: 45px;
    }

    .sidebar-menu li.active a {
        width: 45px;
        height: 45px;
    }

    ul.sidebar-menu li a:hover > .tooltip-menu {
        left: 50px;
        top: 10px;
    }
}
