
@{
    Layout = "~/Views/Shared/_NoDigitalTwin.cshtml";
}

<script src="https://cdn.jsdelivr.net/npm/gasparesganga-jquery-loading-overlay@2.1.6/dist/loadingoverlay.min.js"></script>
<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label for="DeviceID">DeviceID</label>
            <input type="text" id="DeviceID" class="form-control" style="min-width:50%;" placeholder="DeviceID" />
        </div>
        <div class="form-group">
            <label for="DeviceName">DeviceName</label>
            <input type="text" id="DeviceName" class="form-control" style="min-width:50%;" placeholder="DeviceName" />
        </div>
        <div class="form-group">
            <label for="Instance">Instance</label>
            <input type="text" id="Instance" class="form-control" style="min-width:50%;" placeholder="Instance" />
        </div>
        <div class="form-group">
            <label for="Object Name">Object Name</label>
            <input type="text" id="objName" class="form-control" style="min-width:50%;" placeholder="objName" />
        </div>
        <div class="form-group">
            <label for="Start Month">Start Month</label>
            <select class="form-control" id="StartM" style="min-width:50%;" placeholder="StartD">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
                <option value="11">11</option>
                <option value="12">12</option>
            </select>
        </div>
        <div class="form-group">
            <label for="End Month">End Month</label>
            <select id="EndM" class="form-control" style="min-width:50%;" placeholder="EndM">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
                <option value="11">11</option>
                <option value="12">12</option>
            </select>
        </div>
        <div class="form-group">
            <label for="Max">Max Value</label>
            <input type="text" id="Max" class="form-control" style="min-width:50%;" placeholder="Max" />
        </div>
        <div class="form-group">
            <label for="Min">Min Value</label>
            <input type="text" id="Min" class="form-control" style="min-width:50%;" placeholder="Max" />
        </div>
        <div class="form-group">
            <label for="Collection">Collection</label>
            <select id="collection" class="form-control" style="min-width:50%;" placeholder="collection">
                <option value="AircondDataLogs">AirCond</option>
                <option value="ElevaotDataLogs">Elevator</option>
                <option value="LightingDataLogs">Lighting</option>
                <option value="PlugloadDataLogs">Plugload</option>
            </select>
        </div>
        <button onclick="publishToBroker();">Generate</button>
    </div>
</div>
<script>
    function publishToBroker() {
        var StartD = $("#StartD").val();
        var EndD = $("#EndD").val();
        var StartM = $("#StartM").val();
        var EndM = $("#EndM").val();
        var Max = $("#Max").val();
        var Min = $("#Min").val();
        var collection = $("#collection").val();
        var objName = $("#objName").val();
        var Instance = $("#Instance").val();
        var DeviceID = $("#DeviceID").val();
        var DeviceName = $("#DeviceName").val();
        var voData = {
            StartD : StartD,
            EndD : EndD,
            StartM : StartM,
            EndM : EndM,
            Max : Max,
            Min : Min,
            collection : collection,
            objName : objName,
            Instance : Instance,
            DeviceID : DeviceID,
            DeviceName :DeviceName
        };
        $.ajax({
            type: 'POST',
            url: '@Url.Action("GenerateDummyData", "Chart")',
            data: JSON.stringify(voData),
            dataType: 'json',
            contentType: 'application/json; charset=utf-8',
            beforeSend: function () {
                $.LoadingOverlay("show", {
                    image       : "",
                    fontawesome : "fa fa-cog fa-spin"
                });
            },
            success: function (result) {
                $.LoadingOverlay("hide", {
                    image       : "",
                    fontawesome : "fa fa-cog fa-spin"
                });
                alert(result.msg);
            }
        });
    }
</script>