﻿<script type="text/x-kendo-template" id="tmpl-WidgetFloatingAlert">
    <div id="devicebox-alert" class="box-floating-device" draggable="true" ondrag="onDrag(event,this)">
        <div class="close-ahu-box">
            <a href="javascript:void(0)" onclick="removeBox('alert')">
                <img src="@Url.Content("~/Content/assets/digitaltwin/img/icon_close2x.png")" />
            </a>
        </div>
        <div class="box-floating-device-header">
            <span>#= data.uuid #</span>
        </div>
        <div class="row box-floating-device-body">
            <table class="table-odd-even full-width">
                <tr>
                    <td>Timestamp</td>
                    # var dateTime = data.recordTimestamp; #
                    # var javaScriptDate = (dateTime.startsWith("/")) ? new Date(parseInt(dateTime.substr(6))) : new Date(dateTime); #
                    <td>#= kendo.toString(javaScriptDate, "dd-MM-yyyy HH:mm:ss") #</td>
                </tr>
                <tr>
                    <td>Person</td>
                    <td>#= data.uuid # - #= data.personName #</td>
                </tr>
                <tr>
                    <td>Location</td>
                    # if(data.location.indexOf("Own desk") > -1){ #
                    # var personDefaultZone = data.personData.length > 0 ? data.personData[0].defaultZone : ""; #
                    # var location_alert = "Own desk @("@") " + locationNav.find(f=>f.Zone == personDefaultZone).LocationName; #
                    <td>#= location_alert #</td>
                    # }else{ #
                    <td>#= data.location #</td>
                    # } #
                </tr>
                <tr>
                    <td>Comfort</td>
                    <td>#= data.thermalSensation # | #= data.thermalComfortSatisfaction #</td>
                </tr>
                <tr>
                    <td>Temperature (°C)</td>
                    <td>#= data.temperature == 0 ? 24 : data.temperature #</td>
                </tr>
                <tr>
                    <td>Humidity (%)</td>
                    <td>#= data.humidity == 0 ? 63.6 : data.humidity #</td>
                </tr>
                <tr>
                    <td>CO2 (ppm)</td>
                    <td>#= data.co2 == 0 ? 1043.8 : data.co2 #</td>
                </tr>
                <tr>
                    <td>Air Velocity (m/s)</td>
                    <td>#= data.airVelocity == 0 ? 1.8 : data.airVelocity #</td>
                </tr>
                <tr>
                    <td>Skin Temperature (°C)</td>
                    <td>#= data.skinTemperature == 0 ? 34.5 : data.skinTemperature #</td>
                </tr>
                <tr>
                    <td>Heart Rate (bpm)</td>
                    <td>#= data.heartRate == 0 ? 80 : data.heartRate #</td>
                </tr>
                <tr>
                    <td>Step</td>
                    <td>#= data.step == 0 ? 200 : data.step #</td>
                </tr>
            </table>
			# if(param.Menu == "HumanPresence"){ #
			<div class="clear-both"></div>
			<div class="mt-3 full-width text-center">
				<button onclick="contactTracing('#= data.uuid #','#= data.personName #')" class="btn btn-default btn-has-green">Contact Tracing</button>
			</div>
			# } #
        </div>

    </div>
</script>
<script type="text/x-kendo-template" id="tmpl-WidgetFloatingAlertCEC">
    <div id="devicebox-alert" class="box-floating-device" draggable="true" ondrag="onDrag(event,this)">
        <div class="close-ahu-box">
            <a href="javascript:void(0)" onclick="removeBox('alert')">
                <img src="@Url.Content("~/Content/assets/digitaltwin/img/icon_close2x.png")" />
            </a>
        </div>
        <div class="box-floating-device-header">
            <span>#= data.person #</span>
        </div>
        <div class="row box-floating-device-body">
            <table class="table-odd-even full-width">
                <tr>
                    <td>Timestamp</td>
                    # var dateTime = data.RecordTimestamp; #
                    # var javaScriptDate = (dateTime.startsWith("/")) ? new Date(parseInt(dateTime.substr(6))) : new Date(dateTime); #
                    <td>#= kendo.toString(javaScriptDate, "dd-MM-yyyy HH:mm:ss") #</td>
                </tr>
                <tr>
                    <td>Person</td>
                    <td>#= data.person # - #= data.personName #</td>
                </tr>
                <tr>
                    <td>Location</td>
                    <td>CEC Room</td>
                </tr>
                <tr>
                    <td>Comfort</td>
                    <td>N/A</td>
                </tr>
                <tr>
                    <td>Temperature (°C)</td>
                    <td>#= data.outdoorTemperature == 0 ? 24 : data.outdoorTemperature #</td>
                </tr>
                <tr>
                    <td>Humidity (%)</td>
                    <td>#= data.humidity == 0 ? 63.6 : data.humidity #</td>
                </tr>
                <tr>
                    <td>CO2 (ppm)</td>
                    <td>#= data.co2 == 0 ? 1043.8 : data.co2 #</td>
                </tr>
                <tr>
                    <td>Air Velocity (m/s)</td>
                    <td>#= data.airVelocity == 0 ? 1.8 : data.airVelocity #</td>
                </tr>
                <tr>
                    <td>Skin Temperature (°C)</td>
                    <td>#= data.temperature == 0 ? 34.5 : data.temperature #</td>
                </tr>
                <tr>
                    <td>Heart Rate (bpm)</td>
                    <td>#= data.heartrate == 0 ? 80 : data.heartrate #</td>
                </tr>
                <tr>
                    <td>Step</td>
                    <td>#= data.step == 0 ? 0 : data.step #</td>
                </tr>
            </table>
			<div class="clear-both"></div>
			<div class="mt-3 full-width text-center">
				<button onclick="contactTracingCec('#= data.person #','#= data.personName #')" class="btn btn-default btn-has-green">Contact Tracing</button>
			</div>
        </div>

    </div>
</script>
