<script type="text/x-kendo-template" id="tmpl-WidgetFloatingPlaybackContactTracing">
    <div id="devicebox-playback-contact-tracing" class="box-floating-device">
        
        <div class="row">
            <div class="col-md-3">
                <a class="button-icon-playback-contact-tracing" onclick="openWindow('PlaybackContactTracing',{})">
                    <i class="fa fa-history"></i>
                </a>
            </div>
            <div class="col-md-9">
                <div class="contact-tracing-playback-zone w-100" id="contact-tracing-playback-zone">
                </div>
                <div class="contact-tracing-playback-zone-action">
                    <a href="javascript:void(0)" onclick="playbackZoneBackwardButton()">
                        <i class="fa fa-backward"></i>
                    </a>
                    <a href="javascript:void(0)" onclick="playbackZoneButton()">
                        <i id="playZoneButton" class="fa fa-play"></i>
                    </a>
                    <a href="javascript:void(0)" onclick="playbackZoneForwardButton()">
                        <i class="fa fa-forward"></i>
                    </a>
                    <div id="current-speed-zone" class="text-white mb-1">Speed: 0x</div>
                </div>
            </div>
        </div>
    </div>
</script>
<script type="text/x-kendo-template" id="tmpl-WidgetFloatingPlaybackContactTracingCEC">
    <div id="devicebox-playback-contact-tracing-cec" class="box-floating-device">
        <div class="row">
            <div class="col-md-3">
                <a class="button-icon-playback-contact-tracing" onclick="openWindow('PlaybackContactTracing',{})">
                    <i class="fa fa-history"></i>
                </a>
            </div>
            <div class="col-md-9">
                <div class="contact-tracing-playback-zone w-100" id="contact-tracing-playback-zone">
                </div>
                <div class="contact-tracing-playback-zone-action">
                    <a href="javascript:void(0)" onclick="playbackZoneBackwardButton()">
                        <i class="fa fa-backward"></i>
                    </a>
                    <a href="javascript:void(0)" onclick="playbackZoneButton()">
                        <i id="playZoneButton" class="fa fa-play"></i>
                    </a>
                    <a href="javascript:void(0)" onclick="playbackZoneForwardButton()">
                        <i class="fa fa-forward"></i>
                    </a>
                    <div id="current-speed-zone" class="text-white mb-1">Speed: 0x</div>
                </div>
            </div>
        </div>
    </div>
</script>
