﻿<script type="text/x-kendo-template" id="tmpl-WidgetFeedback">
    <div id="devicebox-AgeDis" style="width: 30%; height: 275px; position: absolute; padding-bottom: 5px;">
        <div class="close-ahu-box">
            <a href="javascript:void(0)" onclick="removeBox('AgeDis')">
                <img src="@Url.Content("~/Content/assets/digitaltwin/img/icon_close2x.png")" />
            </a>
        </div>
        <div class="box-floating-device-header">
            <span>Age Distribution</span>
        </div>
        <div class="row box-floating-device-body">
            <div id="chart-AD"></div>
        </div>
    </div>
    <div id="devicebox-Gender" style="width: 30%; height: 275px; position: absolute; padding-bottom: 5px;">
        <div class="close-ahu-box">
            <a href="javascript:void(0)" onclick="removeBox('Gender')">
                <img src="@Url.Content("~/Content/assets/digitaltwin/img/icon_close2x.png")" />
            </a>
        </div>
        <div class="box-floating-device-header">
            <span>Gender</span>
        </div>
        <div class="row box-floating-device-body">
            <div id="chart-gender"></div>
        </div>
    </div>
    <div id="devicebox-ThermalCS" style="width: 30%; height: 275px; position: absolute; padding-bottom: 5px;">
        <div class="close-ahu-box">
            <a href="javascript:void(0)" onclick="removeBox('ThermalCS')">
                <img src="@Url.Content("~/Content/assets/digitaltwin/img/icon_close2x.png")" />
            </a>
        </div>
        <div class="box-floating-device-header" style="clip-path: polygon(65% 0, 70% 100%, 0 100%, 0 0) !important;">
            <span>Thermal Comfort Satisfaction</span>
        </div>
        <div class="row box-floating-device-body">
            <div id="chart-TCS"></div>
        </div>
    </div>
    <div id="devicebox-Race" style="width: 30%; height: 275px; position: absolute; padding-bottom: 5px;">
        <div class="close-ahu-box">
            <a href="javascript:void(0)" onclick="removeBox('Race')">
                <img src="@Url.Content("~/Content/assets/digitaltwin/img/icon_close2x.png")" />
            </a>
        </div>
        <div class="box-floating-device-header">
            <span>Race</span>
        </div>
        <div class="row box-floating-device-body">
            <div id="chart-race"></div>
        </div>
    </div>
    @*<div id="devicebox-WindowS" style="width: 475px;  position: absolute; padding-bottom: 5px;">
        <div class="close-ahu-box">
            <a href="javascript:void(0)" onclick="removeBox('WindowS')">
                <img src="@Url.Content("~/Content/assets/digitaltwin/img/icon_close2x.png")" />
            </a>
        </div>
        <div class="box-floating-device-header">
            <span>Window Side</span>
        </div>
        <div class="row box-floating-device-body">
            <div id="chart-WS"></div>
        </div>
    </div>*@
    <div id="devicebox-TDT" style="width: 30%; height: 275px; position: absolute; padding-bottom: 5px;">
        <div class="close-ahu-box">
            <a href="javascript:void(0)" onclick="removeBox('TDT')">
                <img src="@Url.Content("~/Content/assets/digitaltwin/img/icon_close2x.png")" />
            </a>
        </div>
        <div class="box-floating-device-header" style="clip-path: polygon(65% 0, 70% 100%, 0 100%, 0 0) !important;">
            <span>Temp Dissatisfied Time</span>
        </div>
        <div class="row box-floating-device-body">
            <div id="chart-TDT"></div>
        </div>
    </div>

    <div id="devicebox-TS" style="width: 30%; height: 275px; position: absolute; padding-bottom: 5px;">
        <div class="close-ahu-box">
            <a href="javascript:void(0)" onclick="removeBox('TS')">
                <img src="@Url.Content("~/Content/assets/digitaltwin/img/icon_close2x.png")" />
            </a>
        </div>
        <div class="box-floating-device-header">
            <span>Thermal Sensation</span>
        </div>
        <div class="row box-floating-device-body">
            <div id="chart-TS"></div>
        </div>
    </div>
    @*<div id="devicebox-WTC" style="width: 475px;  position: absolute; padding-bottom: 5px;">
        <div class="close-ahu-box">
            <a href="javascript:void(0)" onclick="removeBox('WTC')">
                <img src="@Url.Content("~/Content/assets/digitaltwin/img/icon_close2x.png")" />
            </a>
        </div>
        <div class="box-floating-device-header" style="clip-path: polygon(65% 0, 70% 100%, 0 100%, 0 0) !important;">
            <span>Want to Control</span>
        </div>
        <div class="row box-floating-device-body">
            <div id="chart-WTC"></div>
        </div>
    </div>*@
</script>
