﻿<script type="text/x-kendo-template" id="tmpl-WidgetSensor">
    <div id="devicebox-Sensor" class="box-floating-device">
        <div class="close-ahu-box">
            <a href="javascript:void(0)" onclick="removeBox('Sensor')">
                <img src="@Url.Content("~/Content/assets/digitaltwin/img/icon_close2x.png")" />
            </a>
        </div>
        <div class="box-floating-device-header">
            <span>Legend</span>
        </div>
        <div class="row box-floating-device-body">
            <p class="temperature-legend">Temperature</p>
            <img src="@Url.Content("~/Content/assets/images/thermometer.png")" />
            <ul class="temperature-list">
                <li>30-above</li>
                <li>26-29</li>
                <li>22.5-25</li>
                <li>22.5-below</li>
            </ul>
            <p class="temperature-unit">°C</p>
        </div>
    </div>
</script>
