﻿<script type="text/x-kendo-template" id="tmpl-WidgetPower">
    <div id="devicebox-#= data.id #" class="box-floating-device box-floating-device-power" draggable="true" ondrag="onDrag(event,this)" style="width: 350px; !important;">
        <div class="close-ahu-box">
            <a href="javascript:void(0)" onclick="removeBox('#= data.id #')">
                <img src="@Url.Content("~/Content/assets/digitaltwin/img/icon_close2x.png")" />
            </a>
        </div>
        <div class="box-floating-device-header">
            <span>#= data.device_name #</span>
        </div>
        <div class="row box-floating-device-body">
            @*<div class="col-md-12">
                <span class="text-green" title="#= data.device_name #">#= data.device_name #</span>
                <div id="gauge#= data.id #" style="height: 50px"></div>
            </div>*@
            <div class="col-md-12">
                <div class="invisible-card">
                    <div class="invisible-card-body" style="padding: 12px !important;">
                        <div id="chart-trend-#= data.id #"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</script>
