﻿<script type="text/x-kendo-template" id="tmpl-WidgetAircon">
    <div id="devicebox-PAU1" class="box-floating-device" draggable="true" ondrag="onDrag(event,this)">
        <div class="close-ahu-box">
            <a href="javascript:void(0)" onclick="removeBox('PAU1')">
                <img src="@Url.Content("~/Content/assets/digitaltwin/img/icon_close2x.png")" />
            </a>
        </div>
        <div class="box-floating-device-header">
            <span onclick="setPanel('PAUR01')">PAU 2-R-1</span>
        </div>
        <div class="row box-floating-device-body">
            <div class="col-md-6">
                <span class="text-green" title="SA Temp Setpt">SA Temp Setpt</span>
                <div id="gaugeBox-11-115" style="height: 50px"></div>
                <span title="Celcius" class="box-floating-device-body-subtext">°C</span>
            </div>
            <div class="col-md-6">
                <span class="text-green" title="SA Press Setpt">SA Press Setpt</span>
                <div id="gaugeBox-11-119" style="height: 50px"></div>
                <span title="pa" class="box-floating-device-body-subtext">pa</span>
            </div>
        </div>
    </div>
    <div id="devicebox-PAU2" class="box-floating-device" draggable="true" ondrag="onDrag(event,this)">
        <div class="close-ahu-box">
            <a href="javascript:void(0)" onclick="removeBox('PAU2')">
                <img src="@Url.Content("~/Content/assets/digitaltwin/img/icon_close2x.png")" />
            </a>
        </div>
        <div class="box-floating-device-header">
            <span onclick="setPanel('PAUR02')">PAU 2-R-2</span>
        </div>
        <div class="row box-floating-device-body">
            <div class="col-md-6">
                <span class="text-green" title="SA Temp">SA Temp Setpt</span>
                <div id="gaugeBox-11-114" style="height: 50px"></div>
                <span title="Celcius" class="box-floating-device-body-subtext">°C</span>
            </div>
            <div class="col-md-6">
                <span class="text-green" title="SA Press Setpt">SA Press Setpt</span>
                <div id="gaugeBox-11-118" style="height: 50px"></div>
                <span title="pa" class="box-floating-device-body-subtext">pa</span>
            </div>
        </div>
    </div>
    <div id="devicebox-AHU701" class="box-floating-device" draggable="true" ondrag="onDrag(event,this)">
        <div class="close-ahu-box">
            <a href="javascript:void(0)" onclick="removeBox('AHU701')">
                <img src="@Url.Content("~/Content/assets/digitaltwin/img/icon_close2x.png")" />
            </a>
        </div>
        <div class="box-floating-device-header">
            <span onclick="setPanel('AHU701')">AHU 2-7-1</span>
        </div>
        <div class="row box-floating-device-body">
            <div class="col-md-6">
                <span class="text-green" title="SA Temp">SA Temp</span>
                <div id="gaugeBox-10-873" style="height: 50px"></div>
                <span title="Celcius" class="box-floating-device-body-subtext">°C</span>
            </div>
            <div class="col-md-6">
                <span class="text-green" title="co2">CO2</span>
                <div id="gaugeBox-10-874" style="height: 50px"></div>
                <span title="ppm" class="box-floating-device-body-subtext">ppm</span>
            </div>
        </div>
    </div>
    <div id="devicebox-AHU702" class="box-floating-device" draggable="true" ondrag="onDrag(event,this)">
        <div class="close-ahu-box">
            <a href="javascript:void(0)" onclick="removeBox('AHU702')">
                <img src="@Url.Content("~/Content/assets/digitaltwin/img/icon_close2x.png")" />
            </a>
        </div>
        <div class="box-floating-device-header">
            <span onclick="setPanel('AHU702')">AHU 2-7-2</span>
        </div>
        <div class="row box-floating-device-body">
            <div class="col-md-6">
                <span class="text-green" title="SA Temp">SA Temp</span>
                <div id="gaugeBox-10-880" style="height: 50px"></div>
                <span title="Celcius" class="box-floating-device-body-subtext">°C</span>
            </div>
            <div class="col-md-6">
                <span class="text-green" title="co2">CO2</span>
                <div id="gaugeBox-10-885" style="height: 50px"></div>
                <span title="ppm" class="box-floating-device-body-subtext">ppm</span>
            </div>
        </div>
    </div>
    <div id="devicebox-AHU301" class="box-floating-device" draggable="true" ondrag="onDrag(event,this)">
        <div class="close-ahu-box">
            <a href="javascript:void(0)" onclick="removeBox('AHU301')">
                <img src="@Url.Content("~/Content/assets/digitaltwin/img/icon_close2x.png")" />
            </a>
        </div>
        <div class="box-floating-device-header">
            <span onclick="setPanel('AHU301')">AHU 2-3-1</span>
        </div>
        <div class="row box-floating-device-body">
            <div class="col-md-6">
                <span class="text-green" title="SA Temp">SA Temp</span>
                <div id="gaugeBox-8-889" style="height: 50px"></div>
                <span title="Celcius" class="box-floating-device-body-subtext">°C</span>
            </div>
            <div class="col-md-6">
                <span class="text-green" title="co2">CO2</span>
                <div id="gaugeBox-8-890" style="height: 50px"></div>
                <span title="ppm" class="box-floating-device-body-subtext">ppm</span>
            </div>
        </div>
    </div>
</script>
