﻿@{ 
    Layout = "";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>three.js webgl - glTF loader</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
    <link href='@Url.Content("~/Content/assets/fontawesome/css/all.css")' rel="stylesheet">
    <link href='@Url.Content("~/Content/assets/css/bootstrap.min.css")' rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans" />
    <link rel="stylesheet" href="@Url.Content("~/Content/assets/css-circle/css/circle.css")">
    <link rel="stylesheet" href="@Url.Content("~/Content/assets/icheck/css/all.css")">
    <link rel="stylesheet" href="@Url.Content("~/Content/assets/btnswitch/jquery.btnswitch.css")">

    <!-- it should be last -->
    <link rel="stylesheet" href="@Url.Content("~/Content/assets/css/component.css")">
    <style>
        #tooltip {
            position: fixed;
            left: 0;
            top: 0;
            min-width: 100px;
            text-align: center;
            padding: 5px 12px;
            background-color: rgba(72,150,254,0.2);
            display: none;
            opacity: 0;
            border: 1px solid black;
            box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
            transition: opacity 0.25s linear;
            border-radius: 3px;
        }
    </style>
    <script src="@Url.Content("~/Content/assets/digitaltwin/js/jquery.min.js")"></script>
    <script src="@Url.Content("~/Content/assets/js/bootstrap.min.js")"></script>

    <link rel="stylesheet" href="@Url.Content("~/Content/assets/morris.js/morris.css")">
    <script src="@Url.Content("~/Content/assets/morris.js/raphael-min.js")"></script>
    <script src="@Url.Content("~/Content/assets/morris.js/morris.min.js")"></script>
    <script src="@Url.Content("~/Content/assets/icheck/js/icheck.min.js")"></script>
    <script src="@Url.Content("~/Content/assets/btnswitch/jquery.btnswitch.js")"></script>
    <style type="text/css">
        

        .tgl-sw-light + .btn-switch {
            background: linear-gradient(#181818, #202020);
            border: 1px solid rgba(255,255,255,0.1);
        }

            .tgl-sw-light + .btn-switch:after {
                background: linear-gradient(#FF0000, #800000);
            }

        .tgl-sw-light-checked + .btn-switch {
            background: linear-gradient(to left, rgba(64,241,166,0.79), rgba(32,32,32,1));
            border: 1px solid rgba(255,255,255,0.1);
        }

            .tgl-sw-light-checked + .btn-switch:after {
                background: linear-gradient(rgba(64,241,166,1), rgba(255,255,255,0));
                border: 1px solid rgba(255,255,255,0.5);
            }

        /* CCTV */
        .cctv {
            position: relative;
            padding: 10px;
        }

        .cctv-header {
            border-left: 1px solid rgba(255,255,255,.5);
            border-top: 1px solid rgba(255,255,255,0.5);
            margin-right: 25px;
            padding: 5px 10px;
            position: relative;
            height: 35px;
        }

            .cctv-header:after {
                width: 0;
                height: 0;
                border-right: 42px solid rgba(255,255,255,0.5);
                border-bottom: 1px solid rgba(255,255,255,0.5);
                position: absolute;
                right: -34px;
                top: 16px;
                transform: rotate(236deg);
                content: "";
            }

            .cctv-header:before {
                width: 90%;
                position: absolute;
                border-bottom: 1px solid rgba(255,255,255,0.5);
                content: "";
                right: -5px;
                bottom: 0;
            }

        .cctv-content {
            border-left: 1px solid rgba(255,255,255,.5);
            border-bottom: 1px solid rgba(255,255,255,.5);
            border-right: 1px solid rgba(255,255,255,.5);
            padding: 15px 5px 5px 5px;
        }

        .cctv-player {
            display: inline-block;
        }

            .cctv-player .camera-name {
                border-right: 3px solid rgba(255,255,255,0.5);
            }

        .cctv-player-header {
            margin-bottom: 10px;
        }

            .cctv-player-header a {
                display: inline-block;
                margin-left: 5px;
                margin-right: 5px;
            }

        .cctv-player .player-duration {
            position: relative;
            background: rgba(255,255,255,0.2);
            width: 100%;
            height: 20px;
            font-size: 12px;
            padding-left: 10px;
            padding-right: 10px;
            display: flex;
            justify-content: flex-end;
            align-items: center;
        }

        .cctv-player .player-indicator {
            position: absolute;
            width: 30%;
            height: 100%;
            background: rgba(255,255,255,0.5);
            left: 0;
        }

        .cctv-player .cctv-player-stream {
            padding: 10px;
            border: 1px solid rgba(255,255,255,.5);
            margin-bottom: 10px;
        }

        .cctv-player .control-cover {
            background: rgba(64,241,166,0.3);
            padding: 3.5px 0;
            font-size: 13px;
        }

            .cctv-player .control-cover a {
                font-weight: 500;
            }

        .cctv-player .trans-menu {
            color: rgba(255,255,255,.5);
            transition: 0.2s ease-in;
        }

            .cctv-player .trans-menu:hover {
                color: rgba(255,255,255,1);
            }

        .cctv-list {
            overflow-y: auto;
            height: 350px;
        }
    </style>
</head>

<body style="overflow:auto; margin-bottom: 20px;">
    <div class="row">
        <div class="col-md-4">
            Button
            <button class="btn btn-green" type="button">Confirm</button>
            <button class="btn btn-grey" type="button">Cancel</button>

        </div>
        <div class="col-md-5">
            <form class="">
                <div class="form-group row">
                    <label class="col-form-label col-md-2">
                        <button class="btn btn-green" type="button">Search</button>

                    </label>
                    <div class="col-md-10 centered-flex">
                        <input type="text" class="form-control" placeholder="Search">
                    </div>
                </div>
            </form>

        </div>
        <div class="col-md-3">
            <form class="">
                <div class="form-group row">
                    <label class="col-form-label col-md-2">
                        <button class="btn btn-green" type="button">ON</button>

                    </label>
                    <div class="col-md-10 centered-flex">
                        <div id="demo" class="centered-flex"></div>
                    </div>
                </div>
            </form>

        </div>
    </div>

    <div class="row">
        <div class="col-md-5">
            <div class="cctv-player">
                <div class="cctv-player-header">
                    <div class="row">
                        <div class="col-md-4 camera-name">
                            Camera 060
                        </div>
                        <div class="col-md-8 text-right">
                            <a href="#" class="trans-menu">Playback</a>
                            <a href="#" class="trans-menu active">Real Time</a>
                            <a href='#'><i class="fa fa-compress"></i></a>
                            <a href="#"><i class="fa fa-arrows-alt-v"></i></a>
                            <a href="#"><i class="fa fa-compact-disc"></i></a>
                        </div>
                    </div>
                </div>
                <div class="cctv-player-stream">
                    <img src="@Url.Content("~/Content/assets/digitaltwin/img/cctv.png")" class="img-fluid">
                </div>
                <div class="cctv-player-control">
                    <div class="row">
                        <div class="col-md-8">
                            <div class="player-duration">
                                <div class="player-indicator"></div>
                                <div class="duration">9:34</div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="row control-cover">
                                <div class="col-md-3">
                                    <a href='#' class="centered-flex"><i class="fa fa-step-backward"></i></a>
                                </div>
                                <div class="col-md-3">
                                    <a href='#' class="centered-flex"><i class="fa fa-pause"></i></a>
                                </div>
                                <div class="col-md-3">
                                    <a href='#' class="centered-flex"><i class="fa fa-step-forward"></i></a>
                                </div>
                                <div class="col-md-3">
                                    <a href='#' class="centered-flex"><i class="fa fa-volume-mute"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="row cctv-list">
                <div class="col-md-4">
                    <div class="cctv">
                        <div class="cctv-header">
                            Hall
                        </div>
                        <div class="cctv-content">
                            <img src="@Url.Content("~/Content/assets/digitaltwin/img/cctv.png")" class="img-fluid">
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="cctv">
                        <div class="cctv-header">
                            Hall
                        </div>
                        <div class="cctv-content">
                            <img src="@Url.Content("~/Content/assets/digitaltwin/img/cctv.png")" class="img-fluid">
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="cctv">
                        <div class="cctv-header">
                            Hall
                        </div>
                        <div class="cctv-content">
                            <img src="@Url.Content("~/Content/assets/digitaltwin/img/cctv.png")" class="img-fluid">
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="cctv">
                        <div class="cctv-header">
                            Hall
                        </div>
                        <div class="cctv-content">
                            <img src="@Url.Content("~/Content/assets/digitaltwin/img/cctv.png")" class="img-fluid">
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="cctv">
                        <div class="cctv-header">
                            Hall
                        </div>
                        <div class="cctv-content">
                            <img src="@Url.Content("~/Content/assets/digitaltwin/img/cctv.png")" class="img-fluid">
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="cctv">
                        <div class="cctv-header">
                            Hall
                        </div>
                        <div class="cctv-content">
                            <img src="@Url.Content("~/Content/assets/digitaltwin/img/cctv.png")" class="img-fluid">
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="cctv">
                        <div class="cctv-header">
                            Hall
                        </div>
                        <div class="cctv-content">
                            <img src="@Url.Content("~/Content/assets/digitaltwin/img/cctv.png")" class="img-fluid">
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="cctv">
                        <div class="cctv-header">
                            Hall
                        </div>
                        <div class="cctv-content">
                            <img src="@Url.Content("~/Content/assets/digitaltwin/img/cctv.png")" class="img-fluid">
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="cctv">
                        <div class="cctv-header">
                            Hall
                        </div>
                        <div class="cctv-content">
                            <img src="@Url.Content("~/Content/assets/digitaltwin/img/cctv.png")" class="img-fluid">
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="cctv">
                        <div class="cctv-header">
                            Hall
                        </div>
                        <div class="cctv-content">
                            <img src="@Url.Content("~/Content/assets/digitaltwin/img/cctv.png")" class="img-fluid">
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="cctv">
                        <div class="cctv-header">
                            Hall
                        </div>
                        <div class="cctv-content">
                            <img src="@Url.Content("~/Content/assets/digitaltwin/img/cctv.png")" class="img-fluid">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="row" style="margin-top:20px;">
        <div class="col-md-4">
            <div id='line-chart' style="min-height: 130px; "></div>
        </div>
    </div>
    <div class="row" style="margin-top:20px;">
        <div class="wrapper-tiles col-md-6" id="elevator-area">
            <div class="title-tiles">
                <h1>West Wing</h1>
                <p>Operational</p>
                <p class="indicator-led-square">Testing</p>
            </div>
            <div class="elevator-list">
                <div class="row">
                    <div class="col-md-4">
                        <h6>LIFT 01</h6>
                        <div class="row">
                            <div class="col-md-3">
                                <div class="elevator-floor-list">
                                    <p>Position:</p>
                                    <ul>
                                        <li>1F</li>
                                        <li>2F</li>
                                        <li>3F</li>
                                        <li>4F</li>
                                        <li>5F</li>
                                        <li>6F</li>
                                        <li>7F</li>
                                        <li>8F</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-9">
                                <div class="wrapper-elevator-info">
                                    <div class="elevator-up-down">
                                        <span>Up</span>
                                        <i class="fa fa-chevron-circle-up active"></i>
                                        <i class="fa fa-chevron-circle-down"></i>
                                        <span>Down</span>
                                    </div>
                                    <div class="elevator-open-closed">
                                        <span>Open</span>
                                        <i class="fa fa-door-open"></i>
                                        <span>Closed</span>
                                    </div>
                                </div>
                                <div class="wrapper-elevator-info load-info">
                                    <p>Current Load</p>
                                    <div class="elevator-occupancy">
                                        <i class="fa fa-users"></i>
                                        <span class="elevator-number-info">5</span>
                                    </div>
                                    <div class="elevator-massa">
                                        <i class="fa fa-anchor"></i>
                                        <span class="elevator-number-info">450kg</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <span>Running Status</span>
                            </div>
                            <div class="col-md-9">
                                <div class="radio-button-group">
                                    <label class="running-status radio-red">
                                        <input type="radio" name="running-status" />
                                        <span class="checkmark"></span>
                                    </label>
                                    <label class="running-status radio-yellow">
                                        <input type="radio" name="running-status" />
                                        <span class="checkmark"></span>
                                    </label>
                                    <label class="running-status radio-green">
                                        <input type="radio" name="running-status" checked />
                                        <span class="checkmark"></span>
                                    </label>
                                </div>
                                <p class="running-status-text">Running</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <p>Operational Control</p>
                                <button class="btn btn-green" type="button">Run</button>
                                <button class="btn btn-red" type="button">Stop</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <h6>LIFT 01</h6>
                        <div class="row">
                            <div class="col-md-3">
                                <div class="elevator-floor-list">
                                    <p>Position:</p>
                                    <ul>
                                        <li>1F</li>
                                        <li>2F</li>
                                        <li>3F</li>
                                        <li>4F</li>
                                        <li>5F</li>
                                        <li>6F</li>
                                        <li>7F</li>
                                        <li>8F</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-9">
                                <div class="wrapper-elevator-info">
                                    <div class="elevator-up-down">
                                        <span>Up</span>
                                        <i class="fa fa-chevron-circle-up active"></i>
                                        <i class="fa fa-chevron-circle-down"></i>
                                        <span>Down</span>
                                    </div>
                                    <div class="elevator-open-closed">
                                        <span>Open</span>
                                        <i class="fa fa-door-open"></i>
                                        <span>Closed</span>
                                    </div>
                                </div>
                                <div class="wrapper-elevator-info load-info">
                                    <p>Current Load</p>
                                    <div class="elevator-occupancy">
                                        <i class="fa fa-users"></i>
                                        <span class="elevator-number-info">5</span>
                                    </div>
                                    <div class="elevator-massa">
                                        <i class="fa fa-anchor"></i>
                                        <span class="elevator-number-info">450kg</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <span>Running Status</span>
                            </div>
                            <div class="col-md-9">
                                <div class="radio-button-group">
                                    <label class="running-status radio-red">
                                        <input type="radio" name="running-status" />
                                        <span class="checkmark"></span>
                                    </label>
                                    <label class="running-status radio-yellow">
                                        <input type="radio" name="running-status" />
                                        <span class="checkmark"></span>
                                    </label>
                                    <label class="running-status radio-green">
                                        <input type="radio" name="running-status" checked />
                                        <span class="checkmark"></span>
                                    </label>
                                </div>
                                <p class="running-status-text">Running</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <p>Operational Control</p>
                                <button class="btn btn-green" type="button">Run</button>
                                <button class="btn btn-red" type="button">Stop</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <h6>LIFT 01</h6>
                        <div class="row">
                            <div class="col-md-3">
                                <div class="elevator-floor-list">
                                    <p>Position:</p>
                                    <ul>
                                        <li>1F</li>
                                        <li>2F</li>
                                        <li>3F</li>
                                        <li>4F</li>
                                        <li>5F</li>
                                        <li>6F</li>
                                        <li>7F</li>
                                        <li>8F</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-9">
                                <div class="wrapper-elevator-info">
                                    <div class="elevator-up-down">
                                        <span>Up</span>
                                        <i class="fa fa-chevron-circle-up active"></i>
                                        <i class="fa fa-chevron-circle-down"></i>
                                        <span>Down</span>
                                    </div>
                                    <div class="elevator-open-closed">
                                        <span>Open</span>
                                        <i class="fa fa-door-open"></i>
                                        <span>Closed</span>
                                    </div>
                                </div>
                                <div class="wrapper-elevator-info load-info">
                                    <p>Current Load</p>
                                    <div class="elevator-occupancy">
                                        <i class="fa fa-users"></i>
                                        <span class="elevator-number-info">5</span>
                                    </div>
                                    <div class="elevator-massa">
                                        <i class="fa fa-anchor"></i>
                                        <span class="elevator-number-info">450kg</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <span>Running Status</span>
                            </div>
                            <div class="col-md-9">
                                <div class="radio-button-group">
                                    <label class="running-status radio-red">
                                        <input type="radio" name="running-status" />
                                        <span class="checkmark"></span>
                                    </label>
                                    <label class="running-status radio-yellow">
                                        <input type="radio" name="running-status" />
                                        <span class="checkmark"></span>
                                    </label>
                                    <label class="running-status radio-green">
                                        <input type="radio" name="running-status" checked />
                                        <span class="checkmark"></span>
                                    </label>
                                </div>
                                <p class="running-status-text">Running</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <p>Operational Control</p>
                                <button class="btn btn-green" type="button">Run</button>
                                <button class="btn btn-red" type="button">Stop</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="@Url.Content("~/Content/assets/digitaltwin/build/three.js")"></script>

    <script src="@Url.Content("~/Content/assets/digitaltwin/js/controls/OrbitControls.js")"></script>
    <script src="@Url.Content("~/Content/assets/digitaltwin/js/loaders/GLTFLoader.js")"></script>

    <script src="@Url.Content("~/Content/assets/digitaltwin/js/WebGL.js")"></script>
    <script src="@Url.Content("~/Content/assets/digitaltwin/js/libs/stats.min.js")"></script>
    <script type="text/javascript">
$(function(){
  $(".checkbox-green").iCheck({
        checkboxClass: 'icheckbox_square-green',
        radioClass: 'iradio_square-green'
  });


  $('#demo').btnSwitch({
    Theme: 'Light',
    OnText: "On",
    OffText: "Off",
  });

})
    </script>
    <script>
        var toggler = document.getElementsByClassName("nav-loc");
        var i;

        for (i = 0; i < toggler.length; i++) {
          toggler[i].addEventListener("click", function() {
            this.parentElement.querySelector(".nested").classList.toggle("active");
            this.classList.toggle("caret-down");
            if($(this).hasClass("caret-down")){
                $(this).find($("i")).removeClass("fa-chevron-right").addClass("fa-chevron-down");
            } else {
                $(this).find($("i")).addClass("fa-chevron-right").removeClass("fa-chevron-down");
            }
          });
        }
    </script>

    <!-- Line chart -->
    <script>
            new Morris.Line({
              // ID of the element in which to draw the chart.
              element: 'line-chart',
              // Chart data records -- each entry in this array corresponds to a point on
              // the chart.
              data: [
                { year: '2008', a: 20 , b: 10},
                { year: '2009', a: 10 , b: 20},
                { year: '2010', a: 5, b: 10 },
                { year: '2011', a: 5, b: 15},
                { year: '2012', a: 20, b: 10 }
              ],
              // The name of the data record attribute that contains x-values.
              xkey: 'year',
              // A list of names of data record attributes that contain y-values.
              ykeys: ['a', 'b'],
              // Labels for the ykeys -- will be displayed when you hover over the
              // chart.
              labels: ['a', 'b'],
              lineColors:['#029bf1','#e647eb'],
              lineWidth: 2,
              pointSize: 3,
              hideHover: true,
              barColors: "#fff",
              // padding:0
              xLabelMargin: "20px",
            });
    </script>


    <!-- bar chart -->
    <script>
            new Morris.Bar({
              // ID of the element in which to draw the chart.
              element: 'bar-chart',
              // Chart data records -- each entry in this array corresponds to a point on
              // the chart.
              data: [
                { year: '2008', value: 20 },
                { year: '2009', value: 10 },
                { year: '2010', value: 5 },
                { year: '2011', value: 5 },
                { year: '2012', value: 20 }
              ],
              // The name of the data record attribute that contains x-values.
              xkey: 'year',
              // A list of names of data record attributes that contain y-values.
              ykeys: ['value'],
              // Labels for the ykeys -- will be displayed when you hover over the
              // chart.
              labels: ['Value'],
              barSizeRatio: 0.1,
              hideHover: true,
              barColors: ["#fff"]
            });
    </script>

    <!-- bar horizontal chart -->
    <script>
            new Morris.Bar({
              // ID of the element in which to draw the chart.
              element: 'bar-chart-horizontal',
              // Chart data records -- each entry in this array corresponds to a point on
              // the chart.
              data: [
                { year: '2008', value: 20 },
                { year: '2009', value: 10 },
                { year: '2012', value: 20 }
              ],
              // The name of the data record attribute that contains x-values.
              xkey: 'year',
              // A list of names of data record attributes that contain y-values.
              ykeys: ['value'],
              // Labels for the ykeys -- will be displayed when you hover over the
              // chart.
              labels: ['Value'],
              horizontal: true,
              barSizeRatio: 0.4,
              hideHover: true,
              barColors: ["#fff"]
            });
    </script>


</body>
</html>
