﻿@using System.Web.Configuration;

@{
    var culture = System.Globalization.CultureInfo.CurrentCulture.ToString();
    string base_url = Request.Url.Scheme + "://" + Request.Url.Authority + Request.ApplicationPath.TrimEnd('/') + "/";
    string hasiot_url = WebConfigurationManager.AppSettings["hasiot_url"].ToString();

}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>@ViewBag.Title</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
    <link href='@Url.Content("~/Content/assets/fontawesome/css/all.css")' rel="stylesheet">
    <link href='@Url.Content("~/Content/assets/css/bootstrap.min.css")' rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans" />
    <link rel="stylesheet" href="@Url.Content("~/Content/assets/css-circle/css/circle.css")">
    <link rel="stylesheet" href="@Url.Content("~/Content/assets/btnswitch/jquery.btnswitch.css")">

    <link rel="stylesheet" href="@Url.Content("~/Content/assets/css/component.css")">
    <link rel="stylesheet" href="@Url.Content("~/Content/assets/morris.js/morris.css")">

    <link href="@Url.Content("~/Content/kendo/2019.2.619/kendo.common-material.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/kendo/2019.2.619/kendo.rtl.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/kendo/2019.2.619/kendo.material.mobile.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/kendo/2019.2.619/kendo.material.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/assets/epoch/epoch.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/assets/css/responsive.css")" rel="stylesheet" type="text/css" />

    @RenderSection("scripts", required: false)

    <script src="@Url.Content("~/Content/assets/digitaltwin/js/jquery.min.js")"></script>
    <script src="@Url.Content("~/Content/assets/js/bootstrap.min.js")"></script>

    <script src="@Url.Content("~/Scripts/kendo/2019.2.619/kendo.all.min.js")"></script>
    <script src="@Url.Content("~/Scripts/kendo/2019.2.619/kendo.aspnetmvc.min.js")"></script>

    <script src="@Url.Content("~/Content/assets/epoch/d3.v3.min.js")" charset="utf-8"></script>
    <script src="@Url.Content("~/Content/assets/epoch/epoch.js")"></script>


    <script src="@Url.Content("~/Content/assets/morris.js/raphael-min.js")"></script>
    <script src="@Url.Content("~/Content/assets/morris.js/morris.min.js")"></script>
    <script src="@Url.Content("~/Scripts/kendo/2019.2.619/cultures/kendo.culture." + culture + ".min.js")"></script>
    <script src="@Url.Content("~/Scripts/kendo/2019.2.619/jszip.min.js")"></script>
    <script src="@Url.Content("~/Content/assets/btnswitch/jquery.btnswitch.js")"></script>

    <!-- highchart -->
    <script src="@Url.Content("~/Content/assets/highcharts/highcharts.js")"></script>
    <script src="@Url.Content("~/Content/assets/highcharts/highcharts-3d.js")"></script>
    <script src="@Url.Content("~/Content/assets/highcharts/modules/exporting.js")"></script>
    <script src="@Url.Content("~/Content/assets/highcharts/modules/export-data.js")"></script>

    <!--Reference the SignalR library. -->
    <script src="@Url.Content("~/Scripts/jquery.signalR-2.4.1.min.js")"></script>
    <!--Reference the autogenerated SignalR hub script. -->
    <script src="@Url.Content("~/signalr/hubs")"></script>
    <script>
        kendo.culture("@culture");
        const base_url = '@base_url';
    </script>
    
</head>
<body>

    @RenderBody()

    <script src="@Url.Content("~/Content/assets/js/component.js")"></script>
    <!-- Header -->

</body>
</html>
